/*
  animation-name: blink-effect;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-timing-function:step-end;
*/
@import url("reset.css");
@import url("common.css");
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.line-trk-wrapper .table-wrap {
  z-index: 2;
  position: absolute;
  width: 1896px;
}
.line-trk-wrapper .bg-line-wrap {
  top: 87px;
  left: 44.5px;
}
.line-trk-wrapper .bg-line2-wrap {
  top: 87px;
  left: 0;
}
.line-trk-wrapper .gd-reflow {
  top: 440px;
  left: 1190px;
  width: 130px;
}
.line-trk-wrapper .gd-reflow .list-data .data-title {
  width: 70px;
}
.line-trk-wrapper .gd-quenching {
  top: 374px;
  left: 1334px;
  width: 157px;
}
.line-trk-wrapper .gd-quenching .list-data .data-title {
  width: 97px;
}
.line-trk-wrapper .gd-bottom-plating {
  top: 10px;
  left: 1002px;
  width: 130px;
}
.line-trk-wrapper .gd-bottom-plating .list-data .data-title {
  width: 38px;
}
.line-trk-wrapper .gd-top-plating {
  top: 10px;
  left: 1142px;
  width: 120px;
}
.line-trk-wrapper .gd-top-plating .list-data .data-title {
  width: 38px;
}
.line-trk-wrapper .gd-loop-position {
  top: 10px;
  left: 318px;
  width: 120px;
}
.line-trk-wrapper .gd-loop-position .list-data .data-title {
  width: 38px;
}
.line-trk-wrapper .gd-bridle-roll {
  width: 243px;
}
.line-trk-wrapper .gd-bridle-roll.num3 {
  width: 313px;
}
.line-trk-wrapper .gd-bridle-roll .list-data .data-title {
  width: 103px;
}
.line-trk-wrapper .gd-cleaning {
  width: 197px;
  top: 10px;
  left: 541px;
}
.line-trk-wrapper .gd-cleaning .list-data .data-title {
  width: 103px;
}
.line-trk-wrapper .gd-por {
  top: 440px;
  left: 12px;
  width: 430px;
}
.line-trk-wrapper .gd-por .list-data .data-title {
  width: 130px;
}
.line-trk-wrapper .gd-line-mcc {
  top: 440px;
  left: 851px;
  width: 200px;
}
.line-trk-wrapper .gd-chemical {
  width: 157px;
  top: 440px;
  left: 1334px;
}
.line-trk-wrapper .gd-chemical .list-data .data-title {
  width: 38px;
}
.line-trk-wrapper .gd-tr {
  top: 440px;
  left: 1502px;
  width: 408px;
}
.line-trk-wrapper .gd-tr .list-data .data-title {
  width: 130px;
}
.line-trk-wrapper .loop-box-wrapper {
  z-index: 2;
  position: absolute;
  left: 322px;
  top: 134px;
  height: 260px;
}
.line-trk-wrapper .loop-box-wrapper .loop-box {
  width: 111px;
  max-height: 260px;
  position: relative;
  background: url(../assets/img_trk_loop_line.png);
  background-size: cover;
}
.line-trk-wrapper .loop-box-wrapper .loop-box .roll-base-bar {
  position: absolute;
  width: 111px;
  bottom: 5px;
  left: 0;
}

.entry-o-wrapper .bg-line-wrap {
  top: 180px;
  left: 0;
}
.entry-o-wrapper .gd-pinchroll {
  width: 191px;
}
.entry-o-wrapper .gd-pinchroll .list-data .data-title {
  width: 107px;
}
.entry-o-wrapper .gd-por {
  top: 523px;
  left: 20px;
  width: 450px;
}
.entry-o-wrapper .gd-por .list-data .data-title {
  width: 150px;
}
.entry-o-wrapper .gd-bridleroll {
  top: 523px;
  left: 577px;
  width: 252px;
}
.entry-o-wrapper .gd-bridleroll .list-data .data-title {
  width: 107px;
}
.entry-o-wrapper .gd-bridleroll .list-data.list2 li p {
  border-top: none;
}
.entry-o-wrapper .gd-tensionloop {
  width: 254px;
  top: 540px;
  left: 1384px;
}
.entry-o-wrapper .gd-tensionloop .list-data .data-title {
  width: 184px;
}
.entry-o-wrapper .gauge1 {
  z-index: 2;
  position: absolute;
}
.entry-o-wrapper .gauge2 {
  z-index: 2;
  position: absolute;
  top: 6px;
  left: 829px;
}
.entry-o-wrapper .loop-box-wrapper {
  z-index: 2;
  position: absolute;
}
.entry-o-wrapper .loop-box-wrapper .loop-box {
  width: 419px;
  height: 516px;
  position: relative;
}
.entry-o-wrapper .loop-box-wrapper .loop-box .roll-base-bar {
  position: absolute;
  width: 419px;
  height: 13px;
  border: 1px solid #000;
  background: #CCCCCC;
}
.entry-o-wrapper .loop-box-wrapper .loop-box .roll-base-bar.bottom {
  width: 380px;
}
.entry-o-wrapper .loop-box-wrapper .loop-box .loop-line {
  position: absolute;
  top: 4.5px;
  left: 35px;
  height: 470px;
  display: flex;
  flex-direction: column;
}
.entry-o-wrapper .loop-box-wrapper .loop-box .img-entry-loop-b-line {
  position: absolute;
  bottom: 0;
  left: 42px;
}

.entry-i-wrapper {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 38px;
  flex-wrap: wrap;
  padding: 40px 60px;
}
.entry-i-wrapper .inter-table-wrap {
  width: 570px;
  height: 336px;
}

.center-o-wrapper .bg-line-wrap {
  top: 108px;
  left: 0;
}
.center-o-wrapper .gauge1 {
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 20px;
}
.center-o-wrapper .gauge1 .gauge-title {
  text-decoration: underline;
}
.center-o-wrapper .gauge2 {
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 220px;
}
.center-o-wrapper .gd-enc {
  width: 120px;
}
.center-o-wrapper .gd-enc .list-data .data-title {
  width: 38px;
}
.center-o-wrapper .gd-quenching {
  top: 463px;
  left: 1297px;
  width: 149px;
}
.center-o-wrapper .gd-quenching .list-data .data-title {
  width: 89px;
}
.center-o-wrapper .gd-reflow {
  top: 5px;
  left: 1388px;
  width: 130px;
}
.center-o-wrapper .gd-reflow .list-data .data-title {
  width: 70px;
}
.center-o-wrapper .gd-oiler {
  top: 5px;
  left: 1750px;
  width: 158px;
}
.center-o-wrapper .gd-oiler .list-data .data-title {
  width: 98px;
}

.center-i-wrapper {
  display: flex;
  gap: 40px;
  padding: 60px;
}
.center-i-wrapper .inter-table-wrap {
  width: 880px;
  height: 700px;
}

.exit-o-wrapper .bg-line-wrap {
  top: 160px;
  left: 0;
}
.exit-o-wrapper .gd-pinchroll {
  width: 191px;
}
.exit-o-wrapper .gd-pinchroll .list-data .data-title {
  width: 107px;
}
.exit-o-wrapper .gd-cam {
  width: 147px;
}
.exit-o-wrapper .gd-tr {
  top: 523px;
  left: 1174px;
  width: 450px;
}
.exit-o-wrapper .gd-tr .list-data .data-title {
  width: 150px;
}
.exit-o-wrapper .gd-bridleroll {
  width: 322px;
}
.exit-o-wrapper .gd-bridleroll .list-data .data-title {
  width: 112px;
}
.exit-o-wrapper .gd-bridleroll .list-data.list2 li p {
  border-top: none;
}
.exit-o-wrapper .gd-chemical {
  width: 294px;
  top: 374px;
  left: 70px;
}
.exit-o-wrapper .gd-chemical .list-data .data-title {
  width: 234px;
}
.exit-o-wrapper .gd-snip {
  top: 374px;
  left: 700px;
  width: 149px;
}
.exit-o-wrapper .gd-snip .list-data .data-title {
  width: 89px;
}
.exit-o-wrapper .gd-apron {
  width: 148px;
}
.exit-o-wrapper .gd-apron .list-data .data-title {
  width: 88px;
}
.exit-o-wrapper .gd-epc {
  width: 148px;
}
.exit-o-wrapper .gd-epc .list-data .data-title {
  width: 76px;
}
.exit-o-wrapper .gd-belt {
  width: 237px;
  top: 523px;
  left: 1634px;
}
.exit-o-wrapper .gd-belt .list-data li {
  flex: none;
}
.exit-o-wrapper .gd-belt .list-data li:first-child {
  width: 108px;
}
.exit-o-wrapper .gd-belt .list-data li:nth-child(2) {
  width: 59px;
}
.exit-o-wrapper .gd-belt .list-data li:last-child {
  width: 70px;
}
.exit-o-wrapper .gd-simple {
  width: 528px;
}
.exit-o-wrapper .gd-simple .list-data li p:last-child {
  height: 40px;
}
.exit-o-wrapper .gauge1 {
  z-index: 2;
  position: absolute;
}
.exit-o-wrapper .gauge2 {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 270px;
}

.pre-treatment-wrapper .gd-cleaning {
  width: 275px;
}
.pre-treatment-wrapper .gd-cleaning .list-data .data-title {
  width: 135px;
}
.pre-treatment-wrapper .gd-cleaning .way-box {
  height: 28px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #999999;
}
.pre-treatment-wrapper .gd-cleaning .way-box .way {
  display: flex;
  gap: 4px;
}
.pre-treatment-wrapper .gd-cleaning .way-box .way p {
  border: none;
}
.pre-treatment-wrapper .gd-cleaning .button-box {
  height: 28px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background: #CCCCCC;
  display: flex;
  width: 100%;
}
.pre-treatment-wrapper .gd-cleaning .button-box .box {
  flex: 1;
}
.pre-treatment-wrapper .gd-cleaning .button-box .box:first-child {
  padding: 1px;
  border-right: 1px solid #999999;
}
.pre-treatment-wrapper .gd-cleaning .button-box .box:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6px;
  text-decoration: underline;
}

.post-treatment-wrapper .gauge-wrap {
  z-index: 2;
  position: absolute;
}
.post-treatment-wrapper .tuning-box {
  margin: 0 2px;
  gap: 4px;
}
.post-treatment-wrapper .tuning-box .value {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #666666;
  background: transparent;
  text-decoration: underline;
}
.post-treatment-wrapper .gauge-wrap .gauge-box-wrap {
  gap: 6px;
  margin-top: 6px;
}
.post-treatment-wrapper .gauge-wrap .box {
  width: 100%;
  padding: 6px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  font-weight: 700;
}
.post-treatment-wrapper .gauge-wrap .box .title-box {
  height: 28px;
}
.post-treatment-wrapper .gauge-wrap .box .tuning-box {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
}
.post-treatment-wrapper .gauge-wrap .box .tuning-box .value {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #666666;
  color: #002878;
}

.center-helper-wrapper {
  padding: 20px 20px 10px;
}
.center-helper-wrapper .bg-box {
  width: 1880px;
  height: 284px;
  border-radius: 10px;
  background: #FFFFFF;
  margin-bottom: 20px;
}
.center-helper-wrapper .table-box {
  display: flex;
}
.center-helper-wrapper .table-box .table-wrap {
  flex: 1;
}
.center-helper-wrapper .table-box .table-wrap table {
  font-size: 12px;
}
.center-helper-wrapper .table-box .table-wrap table thead tr th {
  text-decoration: none !important;
  font-weight: 700;
  height: 46px;
  line-height: 14px;
  background: #666666;
  border: 1px solid #999999;
  vertical-align: middle;
  text-align: center;
  color: #FFFFFF;
}
.center-helper-wrapper .table-box .table-wrap table tbody tr {
  height: 20px;
  font-weight: 700;
  background: #CCCCCC;
}
.center-helper-wrapper .table-box .table-wrap table tbody tr td {
  vertical-align: middle;
  text-align: center;
  border: 1px solid #999999;
}

.rectifier-preset-wrapper {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.rectifier-preset-wrapper .list-grid {
  position: relative;
}
.rectifier-preset-wrapper .list-grid .list-data li > * {
  height: 36px;
}
.rectifier-preset-wrapper .list-grid ul li .btn-normal {
  height: 100%;
}
.rectifier-preset-wrapper .flex-row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.rectifier-preset-wrapper .flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rectifier-preset-wrapper .title-box {
  height: 28px;
}
.rectifier-preset-wrapper .gd-plating {
  width: 1360px;
}
.rectifier-preset-wrapper .gd-plating .list-data .data-title {
  width: 140px;
}
.rectifier-preset-wrapper .gd-chemical {
  width: 400px;
}
.rectifier-preset-wrapper .gd-chemical .list-data .data-title {
  width: 200px;
}
.rectifier-preset-wrapper .setting-box {
  display: flex;
  gap: 10px;
}
.rectifier-preset-wrapper .setting-box .gd-setting {
  width: 384px;
  display: flex;
  flex-direction: column;
}
.rectifier-preset-wrapper .setting-box .gd-setting .title-wrap {
  height: 28px;
  display: flex;
}
.rectifier-preset-wrapper .setting-box .gd-setting .title-wrap .title-box {
  border: 1px solid #999999;
  border-bottom: none;
}
.rectifier-preset-wrapper .setting-box .gd-setting .title-wrap .title-box:first-child {
  width: 140px;
}
.rectifier-preset-wrapper .setting-box .gd-setting .title-wrap .title-box:last-child {
  flex: 1;
}
.rectifier-preset-wrapper .setting-box .gd-setting .list-data .data-title {
  width: 140px;
}
.rectifier-preset-wrapper .setting-box .explan-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20.27px;
  color: #000000;
  padding-top: 16px;
}
.rectifier-preset-wrapper .setting-box2 {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.rectifier-preset-wrapper .setting-box2 .button-line {
  display: flex;
}
.rectifier-preset-wrapper .setting-box2 .button-line .box {
  height: 56px;
  flex: 1;
  background: #CCCCCC;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  padding: 2px;
}
.rectifier-preset-wrapper .setting-box2 .button-line .box button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2509803922) inset;
}

.chemical-qmsif-wrapper {
  padding: 60px;
  display: flex;
  gap: 40px;
}
.chemical-qmsif-wrapper .flex-col {
  width: 660px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.chemical-qmsif-wrapper table tr td, .chemical-qmsif-wrapper table tr th {
  font-weight: 700;
  background: #CCCCCC;
  padding: 0 6px;
}
.chemical-qmsif-wrapper table tr td.on, .chemical-qmsif-wrapper table tr th.on {
  background: #FFFFFF;
  color: #002878;
}
.chemical-qmsif-wrapper table tr td:first-child, .chemical-qmsif-wrapper table tr th:first-child {
  border-left: none;
}
.chemical-qmsif-wrapper table tr td:nth-last-child(7), .chemical-qmsif-wrapper table tr th:nth-last-child(7) {
  padding: 0 10px;
}
.chemical-qmsif-wrapper table tr td:last-child, .chemical-qmsif-wrapper table tr th:last-child {
  border-right: none;
}
.chemical-qmsif-wrapper .density-table {
  width: 1100px;
}
.chemical-qmsif-wrapper .density-table table tr td:nth-last-child(7), .chemical-qmsif-wrapper .density-table table tr td:nth-last-child(8) {
  text-align: left;
}
.chemical-qmsif-wrapper .density-table table tr td:nth-last-child(3), .chemical-qmsif-wrapper .density-table table tr td:nth-last-child(4), .chemical-qmsif-wrapper .density-table table tr td:nth-last-child(5) {
  text-align: right;
}
.chemical-qmsif-wrapper .density-table table tr td:nth-last-child(1), .chemical-qmsif-wrapper .density-table table tr td:nth-last-child(2), .chemical-qmsif-wrapper .density-table table tr td:nth-last-child(3) {
  color: #002878;
}
.chemical-qmsif-wrapper .temper-table {
  width: 100%;
}
.chemical-qmsif-wrapper .temper-table table tr td:nth-last-child(4), .chemical-qmsif-wrapper .temper-table table tr td:nth-last-child(5) {
  text-align: left;
}
.chemical-qmsif-wrapper .temper-table table tr td:nth-last-child(1), .chemical-qmsif-wrapper .temper-table table tr td:nth-last-child(2), .chemical-qmsif-wrapper .temper-table table tr td:nth-last-child(3) {
  text-align: right;
}
.chemical-qmsif-wrapper .temper-table table tr td:nth-last-child(1) {
  color: #002878;
}
.chemical-qmsif-wrapper .conc-table {
  width: 100%;
}
.chemical-qmsif-wrapper .conc-table table tr td {
  text-align: right;
}
.chemical-qmsif-wrapper .conc-table table tr td:first-child {
  text-align: left;
}

.chemical-mesif-wrapper {
  padding: 60px 0 0 410px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.chemical-mesif-wrapper .flex-row {
  display: flex;
  gap: 40px;
}
.chemical-mesif-wrapper table tr td, .chemical-mesif-wrapper table tr th {
  font-weight: 700;
  background: #CCCCCC;
}
.chemical-mesif-wrapper table tr td.on, .chemical-mesif-wrapper table tr th.on {
  background: #FFFFFF;
}
.chemical-mesif-wrapper table tr td:first-child, .chemical-mesif-wrapper table tr th:first-child {
  border-left: none;
}
.chemical-mesif-wrapper table tr td:last-child, .chemical-mesif-wrapper table tr th:last-child {
  border-right: none;
}
.chemical-mesif-wrapper table tr td .img-box, .chemical-mesif-wrapper table tr th .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.chemical-mesif-wrapper table tr td {
  padding: 0 6px 0 10px;
}
.chemical-mesif-wrapper .mesif-table {
  width: 1040px;
}
.chemical-mesif-wrapper .mesif-table table tr td {
  color: #002878;
  text-align: right;
}
.chemical-mesif-wrapper .mesif-table table tr td:first-child {
  color: #000000;
  text-align: left;
}
.chemical-mesif-wrapper .mesif-table table tr td:nth-child(2), .chemical-mesif-wrapper .mesif-table table tr td:last-child {
  text-align: center;
}
.chemical-mesif-wrapper .waste-table {
  width: 620px;
}
.chemical-mesif-wrapper .waste-table table tr td {
  text-align: center;
  color: #000000;
}
.chemical-mesif-wrapper .waste-table table tr td:first-child {
  text-align: left;
}
.chemical-mesif-wrapper .waste-table table tr td:nth-child(2), .chemical-mesif-wrapper .waste-table table tr td:last-child {
  color: #002878;
}
.chemical-mesif-wrapper .utility-table {
  width: 380px;
}
.chemical-mesif-wrapper .utility-table table tr td {
  text-align: center;
  color: #000000;
}
.chemical-mesif-wrapper .utility-table table tr td:nth-child(2), .chemical-mesif-wrapper .utility-table table tr td:nth-child(4) {
  text-align: right;
  color: #002878;
}

.setting-center-wrapper {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.setting-center-wrapper .list-grid {
  position: relative;
}
.setting-center-wrapper .list-grid .list-data li > * {
  height: 36px;
}
.setting-center-wrapper .flex-row {
  display: flex;
  gap: 40px;
}
.setting-center-wrapper .flex-col {
  display: flex;
  flex-direction: column;
}
.setting-center-wrapper .plating-table {
  width: 1360px;
}
.setting-center-wrapper .table-wrap table:last-child {
  margin-top: 10px;
}
.setting-center-wrapper .table-wrap table tr td, .setting-center-wrapper .table-wrap table tr th {
  font-weight: 700;
  background: #CCCCCC;
}
.setting-center-wrapper .table-wrap table tr td:first-child, .setting-center-wrapper .table-wrap table tr th:first-child {
  border-left: none;
}
.setting-center-wrapper .table-wrap table tr td:last-child, .setting-center-wrapper .table-wrap table tr th:last-child {
  border-right: none;
}
.setting-center-wrapper .table-wrap table tr {
  height: 36px;
}
.setting-center-wrapper .table-wrap table tr th:first-child, .setting-center-wrapper .table-wrap table tr td:nth-child(2) {
  border-right: 3px solid #666666;
}
.setting-center-wrapper .table-wrap table tr td {
  padding: 0 6px;
  text-align: right;
  background: #FFFFFF;
  color: #002878;
}
.setting-center-wrapper .table-wrap table tr td:first-child {
  text-align: left;
  color: #000000;
}
.setting-center-wrapper .table-wrap table tr:last-child td, .setting-center-wrapper .table-wrap table tr td:first-child {
  background: #CCCCCC;
}
.setting-center-wrapper .table-wrap table tr:not(:last-child) td:not(:first-child) {
  text-decoration: underline;
}
.setting-center-wrapper .top-table tr td:nth-last-child(1), .setting-center-wrapper .top-table tr td:nth-last-child(2), .setting-center-wrapper .top-table tr td:nth-last-child(3) {
  background: #CCCCCC;
}
.setting-center-wrapper .title-box {
  height: 28px;
  font-weight: 700;
}
.setting-center-wrapper .gd-chemical {
  width: 400px;
}
.setting-center-wrapper .gd-chemical .list-data li {
  flex: 1;
}
.setting-center-wrapper .gd-chemical .ls-up {
  margin-top: 10px;
}
.setting-center-wrapper .gd-pan {
  width: 660px;
}
.setting-center-wrapper .gd-pan .list-data li {
  flex: 1;
}
.setting-center-wrapper .gd-pan .title-box:nth-child(3) {
  margin-top: 40px;
}
.setting-center-wrapper .gd-attach {
  width: 660px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.setting-center-wrapper .gd-attach .list-data {
  width: 330px;
}
.setting-center-wrapper .gd-attach .list-data .data-title {
  width: 100px;
}
.setting-center-wrapper .gd-attach .list-data:nth-child(1), .setting-center-wrapper .gd-attach .list-data:nth-child(3) {
  border-right: 2px solid #666666;
}
.setting-center-wrapper .gd-attach .list-data:nth-child(1), .setting-center-wrapper .gd-attach .list-data:nth-child(2) {
  border-bottom: 2px solid #666666;
}
.setting-center-wrapper .setting-box {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.setting-center-wrapper .setting-box .button-line {
  display: flex;
}
.setting-center-wrapper .setting-box .button-line .box {
  height: 56px;
  flex: 1;
  background: #CCCCCC;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  padding: 2px;
}
.setting-center-wrapper .setting-box .button-line .box button {
  height: 100%;
}

.setting-mcc-wrapper {
  padding: 60px 305px 50px 305px;
}
.setting-mcc-wrapper .table-wrap {
  width: 1310px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.setting-mcc-wrapper .table-wrap .table-title {
  width: 1310px;
}
.setting-mcc-wrapper .table-wrap table {
  width: 650px;
}
.setting-mcc-wrapper .table-wrap table tr td:first-child, .setting-mcc-wrapper .table-wrap table tr th:first-child {
  border-left: none;
}
.setting-mcc-wrapper .table-wrap table tr td:last-child, .setting-mcc-wrapper .table-wrap table tr th:last-child {
  border-right: none;
}
.setting-mcc-wrapper .table-wrap table thead tr th {
  border-top: none;
}
.setting-mcc-wrapper .table-wrap table tbody tr td {
  padding: 2px;
  background: #CCCCCC;
  font-weight: 700;
}
.setting-mcc-wrapper .table-wrap table tbody tr td.on {
  background: #FFFFFF;
}
.setting-mcc-wrapper .table-wrap table tbody tr td:nth-child(2) {
  padding: 0 10px;
  text-align: left;
}

.setting-temper-wrapper {
  margin: 60px 560px;
}
.setting-temper-wrapper .temper-table {
  width: 800px;
}
.setting-temper-wrapper .temper-table table tr td {
  font-weight: 700;
}
.setting-temper-wrapper .temper-table table tr td:first-child {
  background: #CCCCCC;
}
.setting-temper-wrapper .temper-table table tr td:nth-child(2) {
  background: #CCCCCC;
  text-align: left;
  padding-left: 10px;
}
.setting-temper-wrapper .temper-table table tr td:nth-child(3) {
  color: #002878;
  padding-right: 6px;
  text-align: right;
}
.setting-temper-wrapper .temper-table table tr td:nth-child(4), .setting-temper-wrapper .temper-table table tr td:nth-child(5), .setting-temper-wrapper .temper-table table tr td:nth-child(6) {
  text-align: right;
  color: #002878;
  text-decoration: underline;
  padding-right: 6px;
}
.setting-temper-wrapper .temper-table table tr td:nth-child(7) {
  background: #CCCCCC;
  padding: 2px;
}
.setting-temper-wrapper .temper-table table tr td .btn-normal {
  color: #000000;
}

.setting-exit-interlock {
  padding: 40px 60px 0 60px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.setting-exit-interlock .table-wrap {
  width: 420px;
}
.setting-exit-interlock .table-wrap table tr td {
  background: #CCCCCC;
  padding: 0 10px;
  font-weight: 700;
}
.setting-exit-interlock .table-wrap table tr td:first-child {
  border-left: none;
}
.setting-exit-interlock .table-wrap table tr td:nth-child(2) {
  text-align: left;
}
.setting-exit-interlock .table-wrap table tr td:last-child {
  color: #002878;
  border-right: none;
}
.setting-exit-interlock .table-wrap table tr td.on {
  background: #FFFFFF;
}
.setting-exit-interlock .table-wrap table tr th:first-child {
  border-left: none;
}
.setting-exit-interlock .table-wrap table tr th:last-child {
  border-right: none;
}

.history-al-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.history-al-wrapper .search-wrap {
  height: 92px;
}
.history-al-wrapper .dt-table-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #666666;
}