/*
  animation-name: blink-effect;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-timing-function:step-end;
*/
@import url("reset.css");
@import url("common.css");
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.line-trk-wrapper .table-wrap {
  position: absolute;
  width: 1896px;
}
.line-trk-wrapper .bg-line-wrap {
  top: 87px;
  left: 44.5px;
}
.line-trk-wrapper .bg-line2-wrap {
  top: 87px;
  left: 0;
}
.line-trk-wrapper .gd-reflow {
  top: 440px;
  left: 1190px;
  width: 130px;
}
.line-trk-wrapper .gd-reflow .list-data .data-title {
  width: 70px;
}
.line-trk-wrapper .gd-quenching {
  top: 374px;
  left: 1334px;
  width: 157px;
}
.line-trk-wrapper .gd-quenching .list-data .data-title {
  width: 97px;
}
.line-trk-wrapper .gd-bottom-plating {
  top: 10px;
  left: 1002px;
  width: 130px;
}
.line-trk-wrapper .gd-bottom-plating .list-data .data-title {
  width: 38px;
}
.line-trk-wrapper .gd-top-plating {
  top: 10px;
  left: 1142px;
  width: 120px;
}
.line-trk-wrapper .gd-top-plating .list-data .data-title {
  width: 38px;
}
.line-trk-wrapper .gd-loop-position {
  top: 10px;
  left: 318px;
  width: 120px;
}
.line-trk-wrapper .gd-loop-position .list-data .data-title {
  width: 38px;
}
.line-trk-wrapper .gd-bridle-roll {
  width: 243px;
}
.line-trk-wrapper .gd-bridle-roll.num3 {
  width: 313px;
}
.line-trk-wrapper .gd-bridle-roll .list-data .data-title {
  width: 103px;
}
.line-trk-wrapper .gd-cleaning {
  width: 197px;
  top: 10px;
  left: 541px;
}
.line-trk-wrapper .gd-cleaning .list-data .data-title {
  width: 103px;
}
.line-trk-wrapper .gd-por {
  top: 440px;
  left: 12px;
  width: 430px;
}
.line-trk-wrapper .gd-por .list-data .data-title {
  width: 130px;
}
.line-trk-wrapper .gd-line-mcc {
  top: 440px;
  left: 851px;
  width: 200px;
}
.line-trk-wrapper .gd-chemical {
  width: 157px;
  top: 440px;
  left: 1334px;
}
.line-trk-wrapper .gd-chemical .list-data .data-title {
  width: 38px;
}
.line-trk-wrapper .gd-tr {
  top: 440px;
  left: 1502px;
  width: 408px;
}
.line-trk-wrapper .gd-tr .list-data .data-title {
  width: 130px;
}

.entry-o-wrapper .bg-line-wrap {
  top: 180px;
  left: 0;
}
.entry-o-wrapper .gd-pinchroll {
  width: 191px;
}
.entry-o-wrapper .gd-pinchroll .list-data .data-title {
  width: 107px;
}
.entry-o-wrapper .gd-por {
  top: 523px;
  left: 20px;
  width: 450px;
}
.entry-o-wrapper .gd-por .list-data .data-title {
  width: 150px;
}
.entry-o-wrapper .gd-bridleroll {
  top: 523px;
  left: 577px;
  width: 252px;
}
.entry-o-wrapper .gd-bridleroll .list-data .data-title {
  width: 107px;
}
.entry-o-wrapper .gd-bridleroll .list-data.list2 li p {
  border-top: none;
}
.entry-o-wrapper .gd-tensionloop {
  width: 254px;
  top: 540px;
  left: 1384px;
}
.entry-o-wrapper .gd-tensionloop .list-data .data-title {
  width: 184px;
}
.entry-o-wrapper .gauge1 {
  position: absolute;
}
.entry-o-wrapper .gauge2 {
  position: absolute;
  top: 6px;
  left: 829px;
}

.entry-i-wrapper {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 38px;
  flex-wrap: wrap;
  padding: 40px 60px;
}
.entry-i-wrapper .inter-table-wrap {
  width: 570px;
  height: 336px;
}

.center-o-wrapper .bg-line-wrap {
  top: 108px;
  left: 0;
}
.center-o-wrapper .gauge1 {
  position: absolute;
  top: 5px;
  left: 20px;
}
.center-o-wrapper .gauge1 .gauge-title {
  text-decoration: underline;
}
.center-o-wrapper .gauge2 {
  position: absolute;
  top: 5px;
  left: 220px;
}
.center-o-wrapper .gd-enc {
  width: 120px;
}
.center-o-wrapper .gd-enc .list-data .data-title {
  width: 38px;
}
.center-o-wrapper .gd-quenching {
  top: 463px;
  left: 1297px;
  width: 149px;
}
.center-o-wrapper .gd-quenching .list-data .data-title {
  width: 89px;
}
.center-o-wrapper .gd-reflow {
  top: 5px;
  left: 1388px;
  width: 130px;
}
.center-o-wrapper .gd-reflow .list-data .data-title {
  width: 70px;
}
.center-o-wrapper .gd-oiler {
  top: 5px;
  left: 1750px;
  width: 158px;
}
.center-o-wrapper .gd-oiler .list-data .data-title {
  width: 98px;
}

.center-i-wrapper {
  display: flex;
  gap: 40px;
  padding: 60px;
}
.center-i-wrapper .inter-table-wrap {
  width: 880px;
  height: 700px;
}