/*
  animation-name: blink-effect;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-timing-function:step-end;
*/
@import url("reset.css");
@import url("common.css");
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.pop-pump {
  width: 400px;
  height: 336px;
}
.pop-pump .list-grid ul li {
  flex: 1;
}
.pop-pump .popup-footer button {
  flex: 1;
}

.pop-fluxing {
  width: 520px;
  height: 576px;
}
.pop-fluxing .list-grid ul.list-data .data-title {
  width: 300px;
}
.pop-fluxing .popup-footer button {
  flex: 1;
}

.pop-plating-rinse {
  width: 520px;
  height: 576px;
}
.pop-plating-rinse .list-grid ul.list-data .data-title {
  width: 300px;
}
.pop-plating-rinse .popup-footer button {
  flex: 1;
}

.pop-quenching {
  width: 189px;
  height: 228px;
}
.pop-quenching .list-grid .list-data .data-title {
  width: 89px;
}

.pop-TP31CTS040 {
  width: 400px;
  height: 326px;
}
.pop-TP31CTS040 .popup-body {
  padding-bottom: 10px;
}
.pop-TP31CTS040 .list-grid .list-data .data-title {
  width: 180px;
}

.pop-TP31EXS060 {
  width: 1105px;
  height: 396px;
}
.pop-TP31EXS060 .list-grid .list-data .data-title {
  width: 240px;
}
.pop-TP31EXS060 .popup-footer {
  justify-content: center;
}
.pop-TP31EXS060 .popup-footer button {
  width: 235px;
  flex: none;
}

.pop-buchag {
  width: 886px;
  height: 212px;
}

.pop-keypad {
  width: 419px;
  height: 750px;
}
.pop-keypad .calc-wrap {
  display: flex;
  flex-direction: column;
}
.pop-keypad .calc-wrap .calc-value-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.pop-keypad .calc-wrap .calc-value-wrap .value-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.pop-keypad .calc-wrap .final-value {
  margin-top: 11px;
  margin-bottom: 20px;
  padding-right: 6px;
  height: 40px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background: #CCCCCC;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  color: #002878;
}
.pop-keypad .calc-wrap .calc-btn-wrap {
  width: 379px;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  grid-gap: 20px;
}
.pop-keypad .calc-wrap .calc-btn-wrap .item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #666666;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2509803922) inset;
  font-weight: 700;
  font-size: 60px;
  color: #000000;
}
.pop-keypad .calc-wrap .calc-btn-wrap .item.small {
  font-size: 20px;
}
.pop-keypad .calc-wrap .calc-btn-wrap .dot {
  background: url(../assets/ic_calc_dot_24.svg) no-repeat center/24px;
}
.pop-keypad .calc-wrap .calc-btn-wrap .divide {
  background: url(../assets/ic_divide_24.svg) no-repeat center/24px;
}
.pop-keypad .calc-wrap .calc-btn-wrap .mul {
  background: url(../assets/ic_mul_24.svg) no-repeat center/24px;
}
.pop-keypad .calc-wrap .calc-btn-wrap .minus {
  background: url(../assets/ic_minus_24.svg) no-repeat center/24px;
}
.pop-keypad .calc-wrap .calc-btn-wrap .plus {
  grid-column: 4/5;
  grid-row: 2/4;
  background: url(../assets/ic_plus_24.svg) no-repeat center/24px;
}
.pop-keypad .calc-wrap .calc-btn-wrap .enter {
  grid-column: 4/5;
  grid-row: 4/6;
}
.pop-keypad .calc-wrap .calc-btn-wrap .zero {
  grid-column: 1/3;
  grid-row: 5/6;
}
.pop-keypad .popup-footer {
  justify-content: center;
}
.pop-keypad .popup-footer button {
  flex: none;
  width: 66px;
}

.pop-gauge1 {
  width: 230px;
  height: 326px;
}

.pop-TP31ENS020 {
  width: 500px;
  height: 374px;
}
.pop-TP31ENS020 .popup-footer button {
  width: 105px;
  flex: none;
}

.pop-TP31ENS030 {
  width: 400px;
  height: 276px;
}
.pop-TP31ENS030 .popup-body {
  padding-bottom: 10px;
}
.pop-TP31ENS030 .tuning-box {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.pop-TP31ENS030 .tuning-box .value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #666666;
  font-size: 24px;
  font-weight: 700;
  color: #002878;
  text-decoration: underline;
}

.pop-TP31CTS020 {
  width: 1680px;
  height: 540px;
}
.pop-TP31CTS020 .popup-body .flex-row {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.pop-TP31CTS020 .popup-body .flex-row .button-box {
  width: 410px;
  align-items: center;
  gap: 10px;
}
.pop-TP31CTS020 .popup-body .flex-row .button-box .btn-normal {
  font-size: 30px;
  width: 100%;
  height: 100%;
}
.pop-TP31CTS020 .popup-body .list-grid {
  font-size: 20px;
}
.pop-TP31CTS020 .popup-body .list-grid.grid1 {
  flex: 1;
}
.pop-TP31CTS020 .popup-body .list-grid ul.list-data li:first-child, .pop-TP31CTS020 .popup-body .list-grid ul.list-data li:nth-child(2) {
  width: 120px;
  flex: none;
}
.pop-TP31CTS020 .popup-body .list-grid ul.list-data li p {
  height: 48px;
}
.pop-TP31CTS020 .popup-body .list-grid ul.list-data li p.span2 {
  height: 96px;
}
.pop-TP31CTS020 .popup-body .list-grid ul.list-data li p.button {
  padding: 5px;
}
.pop-TP31CTS020 .popup-body .list-grid ul.list-data li p.button button {
  font-size: 20px;
}

.pop-TP31CTS030 {
  width: 780px;
  height: 374px;
}
.pop-TP31CTS030 .flex-row {
  margin-bottom: 0 !important;
}
.pop-TP31CTS030 .subCon {
  flex: 1;
}
.pop-TP31CTS030 .popup-footer {
  justify-content: center;
}
.pop-TP31CTS030 .popup-footer button {
  width: 114px;
  height: 60px;
  flex: none;
}

.pop-TP31CTS050 {
  width: 1000px;
  height: 778px;
}
.pop-TP31CTS050 .flex-row {
  margin: 0;
}
.pop-TP31CTS050 .flex-row .subCon {
  flex: 1;
}
.pop-TP31CTS050 .grid1 .list-data .data-title {
  width: 228px;
}
.pop-TP31CTS050 .grid2 .list-data .data-title {
  width: 350px;
}
.pop-TP31CTS050 .grid3 .list-data .data-title {
  width: 835px;
}
.pop-TP31CTS050 .popup-footer {
  justify-content: center;
}
.pop-TP31CTS050 .popup-footer button {
  width: 105px;
  flex: none;
}

.pop-TP31CTS060 {
  width: 460px;
  height: 696px;
}
.pop-TP31CTS060 .list-grid .list-data .data-title {
  width: 210px;
}
.pop-TP31CTS060 .popup-footer button {
  flex: 1;
}

.pop-TP31CTS070 {
  width: 400px;
  height: 324px;
}
.pop-TP31CTS070 .popup-body {
  padding-bottom: 10px;
}
.pop-TP31CTS070 .flex-col .pop-title:last-child {
  background: #CCCCCC;
  color: #000000;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
.pop-TP31CTS070 .tuning-box {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.pop-TP31CTS070 .tuning-box .value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #666666;
  font-size: 24px;
  font-weight: 700;
  color: #002878;
  text-decoration: underline;
}

.pop-TP31EXS020 {
  width: 540px;
  height: 844px;
}
.pop-TP31EXS020 .list-grid .list-data .data-title {
  width: 280px;
}
.pop-TP31EXS020 .subCon:has(.label) {
  margin-bottom: 20px;
}
.pop-TP31EXS020 .popup-footer button {
  flex: 1;
}

.pop-TP31EXS040 {
  width: 520px;
  height: 276px;
}
.pop-TP31EXS040 .list-grid .list-data .data-title {
  width: 150px;
}
.pop-TP31EXS040 .popup-footer button {
  flex: 1;
}

.pop-TP31EXS050 {
  width: 520px;
  height: 336px;
}
.pop-TP31EXS050 .list-grid .list-data .data-title {
  width: 150px;
}
.pop-TP31EXS050 .popup-footer button {
  flex: 1;
}

.flex-row {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1px;
}