$cl_neutral_1: #000000;
$cl_neutral_2: #333333;
$cl_neutral_3: #666666;
$cl_neutral_4: #999999;
$cl_neutral_5: #CCCCCC;
$cl_neutral_6: #FFFFFF;
$cl_neutral_7: #E0E0E0;

$cl_data_1: #002878;
$cl_data_2: #5088B4;
$cl_data_3: #C8ECFA;
$cl_data_4: #008C3C;
$cl_data_5: #93C2E4;

$cl_alaram_1: #FA3232;
$cl_alaram_2: #FEF546;
$cl_alaram_3: #FE9600;
$cl_alaram_4: #FD66C8;
$cl_alaram_5: #4EFD70;

$imgPath: '../assets/';

$height: 1080px;
$width: 1920px;

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
