@import "func";
@import url("reset.css");

body {position: relative;}
.wrapper {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    .header-topbar {
      padding: 0 10px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $cl_data_1;
      .topbar-left {
        display: flex;
        align-items: center;
        gap: 20px;

        .grp-arrow {
          display: flex;
          gap: 10px;
          .btn-arrow {
            width: 32px;
            height: 32px;
            background-image: url(#{$imgPath}ic_pre_arrow_wh_24.svg);
            background-color: transparent;
            background-position: center;  
            &.next {
              transform: rotate(180deg);
              &:disabled {
                background-image: url(#{$imgPath}ic_next_arrow_dis_24.svg);
                transform: rotate(360deg);
              }
            }
            &.pre {
              &:disabled {
                background-image: url(#{$imgPath}ic_next_arrow_dis_24.svg);
                transform: rotate(180deg);
              }
            }
            
          }
        }

        .img-logo {height: 16px;}
        .line-name {
          display: flex;
          gap: 4px;
          align-items: center;
          justify-content: center;
          width: 113px;
          height: 28px;
          border-radius: 100px;
          background: #fff;
          box-shadow: 0px 4px 6px 0px #00000026;
          font-size: 16px;
          font-weight: 700;
          color: $cl_data_1;
        }
      }
      .topbar-menutext {
        font-size: 20px;
        font-weight: 700;
        color: $cl_neutral_6;
      }
      .topbar-right {
        display: flex;
        align-items: center;
        gap: 20px;
        .datetime-wrap {
          display: flex;
          gap: 10px;
          p {
            font-size: 16px;
            font-weight: 400;
            color: $cl_neutral_6;
          }
        }
        .btn-onoff {
          width: 32px;
          height: 32px;
          background-image: url(#{$imgPath}ic_onoff_24.svg);
          background-color: transparent;
          background-position: center;  
        }
      }
    }

    .header-contents {
      height: 92px;
      padding: 10px;
      display: flex;
      gap: 14px;
      background: $cl_neutral_4;

      .hd-table-wrap {
        width: 552px;
        table {
          table-layout: fixed;
          thead tr th, tbody tr td:first-child {
            white-space: nowrap;
            height: 24px;
            &:nth-child(2) {width: 130px;}
            &:not(:nth-child(2)) {width: 60px;}
            padding: 0 2px;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            background: $cl_neutral_3;
            border: 1px solid $cl_neutral_4;
            color: $cl_neutral_6;
          }
          tr td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border: 1px solid $cl_neutral_4;
            background: $cl_neutral_1;
            padding: 0 2px;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            color: $cl_alaram_2;
          }
        }
      }
      .hd-grp-btn {
        flex: 1;
        display: flex;
        gap: 10px;
        button {
          flex: 1;
          @include flex_center;
          border: 1px solid $cl_neutral_1;
          border-radius: 4px;
          background: $cl_neutral_5;
          box-shadow: 0px -4px 4px 0px #00000040 inset;
          font-size: 18px;
          font-weight: 700;
          color: $cl_data_1;
          text-align: center;
          &.on {background: $cl_alaram_1;}
        }
      }
      .hd-info-speed {
        width: 280px;
        display: flex;
        li {
          flex: 1;
          display: flex;
          flex-direction: column;
          font-size: 18px;
          font-weight: 700;
          .title {
            @include flex_center;
            height: 35px;            
            background: $cl_neutral_3;
            color: $cl_neutral_6;
            border-right: 1px solid $cl_neutral_4;
          }
          .value {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 4px;            
            height: 37px;
            background: $cl_neutral_1;
            border-right: 1px solid $cl_neutral_4;
            color: $cl_alaram_2;
          }
        }
      }
    }

    .menu-wrap {
      z-index: 999;
      height: 48px;
      display: flex;
      
      & > li {
        height: 100%;
        cursor: pointer;
        position: relative;
        flex: 1 ;
        box-shadow: 0px -4px 4px 0px #00000040 inset;
        background: $cl_neutral_2;
        @include flex_center;
        font-size: 20px;
        font-weight: 400;
        color: $cl_neutral_6;        

        ul.submenu-wrap {
          z-index: 999;
          position: absolute;
          top: 100%;
          width: 100%;
          display: none;
          flex-direction: column;
          border: 1px solid $cl_neutral_5;
          padding: 0 8px;
          background: $cl_neutral_6;
          border: 1px solid $cl_neutral_5;
          box-shadow: 0px 4px 20px 0px #00000033;
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          color: $cl_neutral_1;
          li {
            height: 48px;
            display: flex;
            align-items: center;
            p {
              padding: 0 6px;
            }
            &:not(:last-child) {
              border-bottom: 1px solid $cl_neutral_7;              
            }
            &:hover {
              p {
                display: flex;
                align-items: center;
                width: 100%;
                height: 28px;
                border-radius: 4px;
                background: $cl_neutral_1;
                font-weight: 700;
                color: $cl_neutral_6;
                a {color: inherit;}
              }
            }

            &.line-2 {
              height: 56px;
              &:hover p {height: 38px;}
            }
            
          }
        }

        &:hover {
          background: $cl_neutral_6;
          box-shadow: none;
          font-weight: 700;
          color: $cl_neutral_1;

          & > ul.submenu-wrap {display: flex;}
        }
        &.sel {
          background: $cl_neutral_6;
          box-shadow: none;
          font-weight: 700;
          color: $cl_neutral_1;
        }
      }
    }
  }

  main {
    flex: 1;
    background: $cl_neutral_7;    
  }

  footer {
    height: 80px;
    background: $cl_neutral_1;
    padding: 10px;
    display: flex;
    gap: 10px;

    .alarm-title-box {
      @include flex_center;
      width: 90px;
      border-radius: 4px;
      background: $cl_alaram_1;
      font-size: 20px;
      font-weight: 900;
      color: $cl_alaram_2;
    }
    .alarm-data-box {
      padding: 4px 5px 4px 10px;
      flex: 1;
      border: 1px solid $cl_neutral_3;
      border-radius: 4px;
      .data-wrap {
        padding: 0 4px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: overlay;

        &::-webkit-scrollbar-button:single-button:vertical{
          /* single button styling */
          &:decrement {
            // padding-top: 4px;
            background: url(#{$imgPath}ic_arrow_up_24.svg);
          }
          &:increment {
            background: url(#{$imgPath}ic_arrow_down_24.svg);
          }
        }
        &::-webkit-scrollbar {
          width: 24px;  
        }
        &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
          background: transparent; /* 스크롤바 색상 */
        }
      
        .data-list {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-top: 4px;
          li {
            height: 20px;
            display: flex;
            font-size: 14px;
            font-weight: 400;
            color: $cl_alaram_2;

            p {
              &:first-child {width: 253px;}
              &:nth-child(2) {width: 200px;}
              &:nth-child(3) {width: 200px;}
              &:nth-child(4) {flex: 1;}
              &:last-child {
                width: 60px;
                color: $cl_neutral_6;
              }
            }
          }
        }
      }      
    }
    .server-info-box {
      width: 442px;
      display: flex;
      flex-direction: column;
      border: 1px solid $cl_neutral_3;

      li {
        display: flex;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
        color: $cl_neutral_6;
        &:first-child {
          border-bottom: 1px solid $cl_neutral_3;        
        }
        p {
          @include flex_center;
          &:not(:last-child) {border-right: 1px solid $cl_neutral_3;}
          &:first-child,&:last-child {width: 102px;}
          &:nth-child(2) {width: 38px;}
          &:nth-child(3), &:nth-child(4) {width: 100px;}
          &.on {
            background: $cl_alaram_5;
            font-weight: 700;
            color: $cl_neutral_1;
          }
        }
      }
    }
  }
}

.err404-wrapper {
  width: 100%;
  height: 100%;
  @include flex_center;

  .err-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: $cl_neutral_1;
    .text-wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        font-weight: 700;
        text-align: center;
      }
      h3 {
        text-align: center;
        font-weight: 400;
        color: $cl_neutral_2;
      }
    }
    .btn-go-pre {
      @include flex_center;
      width: 160px;
      height: 48px;
      border-radius: 4px;
      border: 0.78px solid $cl_neutral_4;
      box-shadow: 0px -3.12px 3.12px 0px #00000040 inset;      
      font-weight: 700;
    }
  }

}

// 기본 밑그림
.bg-line-wrap {
  position: absolute;  
  z-index: 1;
}

.img-label {
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  color: $cl_neutral_1;
  height: 17px;
  line-height: 17.38px;
  text-align: center;
  &.line-2 {
    height: 28px;
    line-height: 14px;
  }
  &.line-3 {
    height: 53px;
    line-height: 17.38px;
  }
  &.arrow {
    width: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.img-num {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  color: $cl_neutral_1;
  height: 14px;
  line-height: 14px;
  text-align: center;
}
.cl-data1 {
  color: $cl_data_1 !important;
}
// list-grid -   ------------------------
// list-grid와 data-title 의 width 는 직접 적용해야 함.
.list-grid {
  position: absolute;
  display: flex;
  flex-direction:  column;
  font-size: 14px;
  font-weight: 700;

  .list-title {
    width: 100%;
    height: 28px;
    color: $cl_neutral_1;
    border-top: 1px solid $cl_neutral_4;
    background: $cl_neutral_5;

    @include flex_center;

  }  
  .underline {text-decoration: underline;}
  .t-center {
    justify-content: center !important;
  }
  ul.list-data {
    display: flex;
    li {
      & > * {background: $cl_neutral_5};
      display: flex;
      flex-direction: column;
      p {
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 4px;
        height: 28px;
        border-top: 1px solid $cl_neutral_4;
        &:last-child {
          border-bottom: 1px solid $cl_neutral_4;          
        }
        &.title {
          justify-content: center !important;
          color: $cl_neutral_1;
        }
        &:first-child:nth-last-child(1) {height: 100%;}
        &.on {
          background: $cl_neutral_6;
        }
        &.underline {
          text-decoration: underline $cl_data_1;
        }
        &.bg-wh {
          background: $cl_neutral_6;
          &:last-child:not(.bottom) {border-bottom: none;}
        }
        &.bg-d5 {background: $cl_data_5;}
        &.bg-a2 {background: $cl_alaram_2;}
        &.span2 {height: 56px;}
      }
      &:first-child {
        p.on {
          border-left: 1px solid $cl_neutral_4;
        }
      }
      &.data, &.button {
        flex: 1;
        color: $cl_data_1;
        &:not(:first-child) {
          border-left: 1px solid $cl_neutral_4;
        }
        p {justify-content: flex-end;}
        p.button {padding: 2px;}
      }    
      &.button {        
        .grid-btn {
          background: $cl_neutral_7;
          flex: 1;
          display: flex;
          align-items: center;
          button {
            @include flex_center;
            width: 100%;
            height: 28px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 700;
            box-shadow: 0px -4px 4px 0px #00000040 inset;
            color: $cl_neutral_1;
            background: $cl_neutral_6;
            border: 1px solid $cl_neutral_4;
          }
          &.flex-start {
            padding-left: 11px;
            padding-right: 5px;
            justify-content: flex-start;
          }
          &.flex-end {
            padding-right: 11px;
            padding-left: 5px;
            justify-content: flex-end;
          }
        }
      }
      .btn-cooling {
        @include flex_center;
        width: 100%;
        height: 24px;
        border-radius: 4px;
        border: 1px solid $cl_neutral_4;
        box-shadow: 0px -4px 4px 0px #00000040 inset;
        background: $cl_neutral_5;
        font-size: 14px;
        font-weight: 700;
        color: $cl_data_1;
        &.on {
          background: $cl_neutral_6;
        }
      }
      .tuning-box {
        height: 28px;
        border-top: 1px solid $cl_neutral_4;
        width: 100%;
        background: $cl_neutral_5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .vaule {
          @include flex_center;
          flex: 1;
          height: 28px;
          font-size: 14px;
          font-weight: 700;
          color: $cl_data_1;
          text-decoration: underline;
        }
      }      
    }
    .bd-left-none {
      border-left: none !important;
    }
    .bd-bottom {
      border-bottom: 1px solid $cl_neutral_4 !important;
    }
    .bd-left {
      border-left: 1px solid $cl_neutral_4 !important;
    }
    .bd-right {
      border-right: 1px solid $cl_neutral_4 !important;
    }
    .bd-top {
      border-top: 1px solid $cl_neutral_4 !important;
    }
  }    
  .blank-m {
    height: 11px;
  }
  .blank-s {
    height: 2px;
  }

  &.gd-position {
    top: 273px;
    left: 1449px;
    width: 225px;
    .list-data .data-title {
      width: 165px;
    }
    border: 1px dashed $cl_data_1;

    .position-wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      .gauge-box {
        position: relative;
        height: 28px;
        background: $cl_neutral_5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        color: $cl_neutral_1;
        border: 1px solid $cl_neutral_1;
        .value-line {
          position: absolute;
          height: 100%;
          width: 1px;
          background: $cl_alaram_1;
          top: 0;          
        }
        .grad {
          top: 100%;
          left: -1px;
          position: absolute;
          width: 224px;
          display: flex;
          justify-content: space-between;
          li {
            height: 6px;
            width: 1px;
            background: $cl_neutral_1;
          }
        }
      }
      .value-box {
        width: 100%;
        margin-top: 6px;
        height: 17px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 12px;
        font-weight: 600;
        color: $cl_neutral_1;
      }
    }
  }
}
// grid list type
.gd-bridle-roll {
  width: 243px;
  &.num3 {
    width: 313px;
  }
  .list-data .data-title {
    width: 103px;
  }    
}

// main list
.cleaning-wrap {
  position: absolute;
  width: 190px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  background: $cl_neutral_5;
  .title-box {
    height: 25px;
  }
  .cleaning-box {
    width: 100%;
    padding: 6px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    .btn-normal {width: 86px;height: 20px;color: $cl_data_1;}
    .value-box {
      width: 100%;
      height: 20px;
      background: $cl_neutral_6;
      color: $cl_data_1;
      @include flex_center;
    }
    .value-box2 {
      width: 86px;
      height: 20px;
      color: $cl_data_1;
      text-decoration: underline;
      @include flex_center;
      border-radius: 3.12px;
      border: 1px solid $cl_neutral_3;
    }
  }
}
.tuning-wrap {
  width: 132px;
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  background: $cl_neutral_5;
  .title-box {
    height: 25px;
  }
  .inner-box {
    padding: 10px 6px;
    width: 100%;
    .value-box {
      @include flex_center;
      height: 20px;
      background: $cl_neutral_6;
      color: $cl_data_1;
    }
    .title-box {
      height: 20px;
      margin-top: 6px;
      margin-bottom: 4px;
    }
    .inner-tuning-box {
      display: flex;
      gap: 6px;
      .inner-value {
        @include flex_center;
        height: 20px;
        width: 68px;
        border-radius: 4px;
        border: 1px solid $cl_neutral_3;
        text-decoration: underline;
        color: $cl_data_1;
      }
    }

  }  

}
.main-button-box {
  position: absolute;
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;

  button.btn-large {
    @include flex_center;
    width: 80px;
    height: 68px;
    border-radius: 3.12px;
    background: $cl_neutral_5;
    border: 0.78px solid $cl_neutral_4;
    box-shadow: 0px -3.12px 3.12px 0px #00000040 inset;
    color: $cl_data_1;
  }
  .grid-mini-box {
    display: flex;
    border: 1px solid $cl_neutral_4;
    li {
      width: 100px;
      display: flex;
      flex-direction: column;
      &:first-child {border-right: 1px solid $cl_neutral_4;}
      .title {
        @include flex_center;
        height: 28px;
        background: $cl_neutral_5;
        color: $cl_neutral_1;
        border-bottom: 1px solid $cl_neutral_4;
      }
      .data {
        @include flex_center;
        height: 40px;
        background: $cl_neutral_6;
        color: $cl_data_1;
      }
    }
  }
}
.title-box {
  width: 100%;
  @include flex_center;
  background: $cl_neutral_3;
  color: $cl_neutral_6;
}
.chemical-wrap {
  position: absolute;
  width: 260px;
  font-size: 14px;
  font-weight: 700;
  .title-box {
    height: 32px;
  }
  .inner-box {
    display: flex;
    gap: 6px;
    padding: 10px;
    background: $cl_neutral_5;
    .left-box {
      display: flex;
      gap: 6px;
      flex-wrap: wrap;
      width: 106px;
      .btn-normal {width: 50px;height: 28px;}
      .value-box {
        @include flex_center;
        height: 28px;
        width: 100%;
        background: $cl_neutral_6;
        color: $cl_data_1;
      }
    }
    .right-box {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .title-box {height: 28px;}
      .tuning-box {
        display: flex;
        gap: 6px;
        .inner-value {
          @include flex_center;
          height: 28px;
          width: 60px;
          border: 1px solid $cl_neutral_3;
          border-radius: 4px;
          color: $cl_data_1;
        }
      }
    }
  }
}
.table-box {
  position: absolute;
  font-size: 14px;
  font-weight: 700; 
  display: flex; 
  .row-title {
    width: 110px;
    display: flex;
    flex-direction: column;
    color: $cl_neutral_1;
    border-right: 1px solid $cl_neutral_3;
    li {
      padding: 0 6px;
      display: flex;
      align-items: center;
      height: 28px;
      background: $cl_neutral_5;
      border-bottom: 1px solid $cl_neutral_4;
      &:first-child {
        justify-content: center;
        height: 56px;
        border-top: 1px solid $cl_neutral_4;
      }
    }
  }
  .table-wrap {
    position: relative;
    border-left: 1px solid $cl_neutral_3;
    border-right: 1px solid $cl_neutral_3;
    &:last-child {border-right: 0;}

    td:last-child,th:last-child {border-right: none;}

    table {
      thead th {
        &:first-child {text-decoration: underline;}
      }
      tbody {
        color: $cl_data_1;
        tr {
          td {padding: 0 6px;}
          td.clbold {font-weight: 700;}
          &:nth-child(-n+4) td{
            text-align: right;
          }
          &:nth-child(n+5) td{
            font-weight: 700;
          }
        }
      }
    }

    .sel-col {
      position: absolute;
      z-index: 1;
      top: 28px;
      width: 80px;
      height: 196px;
      border: 2px solid $cl_alaram_2;
    }
  }
}

.bd-dot {
  &.top {border-top: 2px dotted $cl_data_1 !important;}
  &.bottom {border-bottom: 2px dotted $cl_data_1 !important;}
  &.left {border-left: 2px dotted $cl_data_1 !important;}
  &.right {border-right: 2px dotted $cl_data_1 !important;}
}
.clbk {color: $cl_neutral_1 !important;}

// table -------------------------------
.table-wrap {
  table {
    font-size: 14px;
    color: $cl_neutral_1;
    thead {
      tr th {
        height: 28px;
        background: $cl_neutral_5;
        font-weight: 700;
        border: 1px solid $cl_neutral_4;
        vertical-align: middle;
        text-align: center;
      }
    }
    tbody {
      tr {
        height: 28px;
        font-weight: 400;
        background: $cl_neutral_6;
        &.sel {
          background: $cl_data_5;
        }
        &.alarm {
          background: $cl_alaram_2 !important;
        }
        td {
          vertical-align: middle;
          text-align: center;
          border: 1px solid $cl_neutral_4;
          &.off {
            background: $cl_neutral_5;
          }
        }
      }
    }
  }
}

.inter-table-wrap {
  .table-title {
    @include flex_center;
    width: 100%;
    height: 28px;
    background: $cl_neutral_3;
    border-top: 1px solid $cl_neutral_4;
    border-bottom: 1px solid $cl_neutral_4;
    font-size: 14px;
    font-weight: 700;
    color: $cl_neutral_6;
  }
  table {
    font-weight: 700;
    font-size: 14px;
    color: $cl_neutral_1;
    thead {
      tr th {
        height: 28px;
        background: $cl_neutral_5;
        // border-top: 1px solid $cl_neutral_4;
        vertical-align: middle;
        text-align: center;
        border-left: 1px solid $cl_neutral_4;
        &:first-child {border-left: none;}
      }
    }
    tbody {
      tr {
        height: 28px;
        td {
          padding: 0 10px;
          background: $cl_neutral_5;
          vertical-align: middle;
          text-align: center;
          border-top: 1px solid $cl_neutral_4;
          border-left: 1px solid $cl_neutral_4;
          &.on {
            background: $cl_neutral_6;
          }
          &:not(:first-child,:last-child) {text-align: left;}
          &:first-child {border-left: none;}
          &:last-child {color: $cl_data_1;}
        }
        &:last-child td {border-bottom: 1px solid $cl_neutral_4;}
      }
    }
  }
}

// gauge
.gauge-wrap {
  width: 190px;
  background: $cl_neutral_5;
  display: flex;
  flex-direction: column;
  align-items: center;
  .gauge-top-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .gauge-title {
      @include flex_center;
      width: 100%;
      height: 32px;
      background: $cl_neutral_3;
      font-size: 14px;
      font-weight: 700;
      color: $cl_neutral_6;
      line-height: 1;
      text-align: center;
    }

    .grp-button {
      padding: 10px 10px 0 ;
      display: flex;
      gap: 6px;
      flex-wrap: wrap;

      button {
        // cursor: pointer;
        @include flex_center;
        width: 82px;
        height: 28px;
        border-radius: 3.12px;
        box-shadow: 0px -3.12px 3.12px 0px #00000040 inset;
        border: 0.78px solid $cl_neutral_4;
        background: $cl_neutral_5;
        font-size: 14px;
        font-weight: 700;
        color: $cl_data_1;

        &.on {
          background: $cl_neutral_6;
        }
      }
    }
  }
  .gauge-box-wrap {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .gauge-box {
      position: relative;
      width: 160px;
      height: 92px;
      .img-graduation {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 80px;
        background: url(#{$imgPath}graduation_2x.png);
        background-size: contain;
      }
      .unit-txt {
        position: absolute;    
        font-size: 14px;
        font-weight: 900;
        color: $cl_neutral_1;    
        line-height: 20.27px;
      }
      .grd-txt {
        position: absolute;
        font-size: 11px;
        font-weight: 700;
        color: $cl_neutral_1;
        line-height: 15.93px;
      }
      .ct-needle {
        @include flex_center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $cl_neutral_1;
        .inside {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: radial-gradient(50% 50% at 50% 50%, #EB3338 0%, #A81117 100%);
        }
      }
      .img-needle {
        position: absolute;
        bottom: 12px;
        left: 76px;
        width: 8px;
        height: 80px;
        background: url(#{$imgPath}needle_3x.png);
        background-size: cover;        
        transform-origin: bottom center ;

        // test
        &.on {
          animation: rotate2 10s infinite linear;
        }
      }
    }
    .gauge-value {
      @include flex_center;
      width: 170px;
      height: 28px;
      background: $cl_neutral_6;
      font-size: 14px;
      font-weight: 700;
      color: $cl_data_1;
    }
  }
  .gauge-bottom-wrap {
    padding: 6px 10px 10px 10px;
    .grp-btn-text {
      display: flex;
      gap: 6px;
      button {
        @include flex_center;
        width: 82px;
        height: 28px;
        border-radius: 3.12px;
        box-shadow: 0px -3.12px 3.12px 0px #00000040 inset;
        border: 0.78px solid $cl_neutral_4;
        background: $cl_neutral_5;
        font-size: 14px;
        font-weight: 700;
        color: $cl_neutral_1;

        &.on {
          background: $cl_neutral_6;
        }
      }
      .txt {
        @include flex_center;
        width: 82px;
        height: 28px;
        border-radius: 4px;
        border: 1px solid $cl_neutral_3;
        font-size: 14px;
        font-weight: 700;
        color: $cl_data_1;
        &.underline {
          text-decoration: underline $cl_data_1;
        }
      }
    }
  }

  &.gauge1 {
    .gauge-box-wrap {
      margin-top: 0;
      padding-top: 4px;
      padding-bottom: 10px;
      gap: 5px;
      .gauge-value {
        width: 128px;
      }
    }
  }
  &.gauge2 {    
    width: 285px;
    .flex-row {
      width: 100%;
      display: flex;   
      gap: 13px;   
      .gauge-box-wrap {
        margin-left: 17px;
        margin-top: 0;
        padding-top: 4px;
        padding-bottom: 10px;
        gap: 5px;
        .gauge-value {
          width: 128px;
        }
      }
      .gauge-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $cl_neutral_4;
        li {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          &:not(:last-child) {
            border-bottom: 1px solid $cl_neutral_4;
          }
          .value-wrap {
            width: 82px;
            height: 32px;
            border-radius: 4px;
            border: 1px solid $cl_neutral_4;
            display: flex;
            p {
              @include flex_center;
              font-size: 16px;
              font-weight: 700;
              color: $cl_data_1;
              &.mark {
                width: 32px;
                border-right: 1px solid $cl_neutral_4;
              }
              &.value {
                flex: 1;
              }
              &.on {
                background: $cl_neutral_6;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
              }
            }

          }
        }
      }
    }

  }
}

.info-box-wrap {
  z-index: -1;
  opacity: 0;
  &.off {
    animation: fadeout 2s; 
  }
  &.on {
    z-index: 1000;
    opacity: 1;
    animation: fadein 2s; 
  }
  z-index: 10000;
  position: absolute;
  width: 200px;
  height: 132px;
  border-radius: 4px;
  background: $cl_neutral_6;
  border: 1px solid $cl_neutral_7;
  box-shadow: 0px 4px 10px 0px #0000001A;
  
  .info-box {
    @include flex_center;
    width: 100%;
    height: 100%;
    position: relative;
    .btn-close {
      cursor: pointer;
      position: absolute;
      top: -4px;
      right: -4px;
      width: 20px;
      height: 20px;
      z-index: 10001;
      border-radius: 50%;
      background-color: #000;
      background-image: url(#{$imgPath}ic_infobox_close.svg);
      background-position: center;
      background-size: 10px;
      background-repeat: no-repeat;
    }
  }
}

#bg-popup1 {
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,.3); 
  position:absolute;         // 포지션 픽스, 화면이 스크롤되더라도 고정되기 위함
  top:0;
  left:0;
  right:0;
  bottom:0; 
  display:block;
  z-index: -1;
  opacity: 0;
  &.off {
    animation: fadeout 2s; 
  }
  &.on {
    z-index: 1000;
    opacity: 1;
    animation: fadein 2s; 
  }
}

#bg-popup2 {
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,.3); 
  position:absolute;         // 포지션 픽스, 화면이 스크롤되더라도 고정되기 위함
  top:0;
  left:0; 
  right:0;
  bottom:0; 
  display:block;
  z-index: -1;
  opacity: 0;
  &.off {
    animation: fadeout 2s; 
  }
  &.on {
    z-index: 1002;
    opacity: 1;
    animation: fadein 2s; 
  }
}

.popup-wrap {  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  min-width: 180px;
  min-height: 180px;
  box-shadow: 0px 4px 30px 0px #00000026;
  background: $cl_neutral_6;
  display: flex;
  flex-direction: column;
  z-index: -1;
  opacity: 0;

  &.off {
    animation: fadeout 2s; 
  }
  &.on {
    z-index: 1001;
    opacity: 1;
    animation: fadein 2s; 
  }
  &.popup-wrap2.on {
    z-index: 1003;
  }
  .popup-header {
    padding: 11px;
    width: 100%;
    height: 48px;
    background: $cl_neutral_1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    .btn-min {
      width: 8px;
      height: 2px;
      background-image: url(#{$imgPath}ic_popup_min.svg);
    }
    .btn-max {
      width: 8px;
      height: 8px;
      background-image: url(#{$imgPath}ic_popup_max.svg);
    }
    .btn-close {
      width: 24px;
      height: 24px;
      background-image: url(#{$imgPath}ic_x_24.svg);
    }
  }
  .btn-normal {height: 60px;}
  .popup-body {
    padding: 20px;
    .list-grid {
      position: relative;
      width: 100%;
      .list-data {
        li {
          button {
            // @include flex_center;
            // width: 100%;
            // height: 24px;
            // border-radius: 4px;
            // font-size: 14px;
            // font-weight: 700;
            // box-shadow: 0px -4px 4px 0px #00000040 inset;
            // color: $cl_data_1;
            // background: $cl_neutral_5;
            // border: 1px solid $cl_neutral_4;
            &.on {background: $cl_neutral_6;}
          }
          p.on {background: $cl_data_5;}
          p.wh {background: $cl_neutral_6;}
        }
      }
    }

    .pop-title {
      @include flex_center;
      width: 100%;
      height: 48px;
      background: $cl_neutral_3;
      font-size: 24px;
      font-weight: 700;
      color: $cl_neutral_6;
    }
    .subCon {
      position: relative;
      border: 1px solid $cl_neutral_3;
      padding: 10px;

      .label {
        height: 20px;
        position: absolute;
        background: $cl_neutral_6;
        font-size: 24px;
        font-weight: 700;
        color: $cl_neutral_1;
        top: -11px;
        left: 10px;
      }
      &:has(.label) {padding: 20px 10px 10px;margin-top: 20px;}
    }
    .button-box {
      width: 100%;
      display: flex;
      li {
        flex: 1;
        padding: 0 10px;
        @include flex_center;
        height: 80px;
        background: $cl_neutral_5;
        border: 1px solid $cl_neutral_3;   
        &:first-child {
          border-right: none;
        }
      }
    }    
  }
  .popup-footer {
    padding: 0 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    button {
      flex: 1;
      font-weight: 700;
      font-size: 24px;
      color: $cl_neutral_1;
      height: 60pxpx;
      border-radius: 4px;
      background: $cl_neutral_6;
      border: 1px solid $cl_neutral_4;
      box-shadow: 0px -4px 4px 0px #00000040 inset;
      @include flex_center;
    }
  }  
}

button.btn-normal{
  @include flex_center;
  width: 100%;
  height: 24px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0px -4px 4px 0px #00000040 inset;
  color: $cl_data_1;
  background: $cl_neutral_5;
  border: 1px solid $cl_neutral_4;
  &.on {background: $cl_neutral_6;}
}

.btn-tuning-arrow {
  width: 28px;
  height: 28px;
  &.down {
    background: url(#{$imgPath}ic_tuning_arrow_down_28.svg);
  }
  &.up {
    background: url(#{$imgPath}ic_tuning_arrow_up_28.svg);
  }
  &.left {
    background: url(#{$imgPath}ic_tuning_arrow_left_28.svg);
  }
  &.right {
    background: url(#{$imgPath}ic_tuning_arrow_right_28.svg);
  }
}

.btn-tuning-arrow-20 {
  width: 20px;
  height: 20px;
  &.down {
    background: url(#{$imgPath}ic_tuning_arrow_down_20.svg);
  }
  &.up {
    background: url(#{$imgPath}ic_tuning_arrow_up_20.svg);
  }
}

.btn-tuning-arrow-60 {
  @include flex_center;
  width: 60px;
  height: 60px;
  border: 1px solid $cl_neutral_4;
  box-shadow: 0px -4px 4px 0px #00000040 inset;
  border-radius: 4px;

  &.down {
    background: url(#{$imgPath}ic_tuning_arrow_down_60.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  &.up {
    background: url(#{$imgPath}ic_tuning_arrow_up_60.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
//----- image -------------------------
.ic-onoff-24 {
  content: url(#{$imgPath}ic_onoff_24.svg);
  width: 24px;
  height: 24px;  
}
.ic-loc-16 {
  content: url(#{$imgPath}ic_loc_16.svg);
  width: 16px;
  height: 16px;  
}
.ic-wh-arrow {
  content: url(#{$imgPath}ic_wh_arrow.svg);
  width: 16px;
  height: 16px;  
}

.img-err404 {
  content: url(#{$imgPath}img_404.png);
  width: 12px;
  height: 10px;
}
// .img-linetracking-o {
//   content: url(#{$imgPath}img_LINETRACKING_o.png);
//   width: 1920px;
//   height: 314px;
// }
.img-linetracking-o {
  content: url(#{$imgPath}img_LINETRACKING_o_line.png);
  width: 1829px;
  height: 252px;
}
.img-linetracking-2 {
  content: url(#{$imgPath}img_LINETRACKING_data2.png);
  width: 1920px;
  height: 314px;
  object-fit: none;
}
.img-entry-o {
  content: url(#{$imgPath}img_ENTRY_o_2.png);
  width: 1920px;
  height: 602px;
  object-fit: none;
}
.img-center-o {
  content: url(#{$imgPath}img_CENTER_o_line.png);
  width: 1920px;
  height: 333px;
  object-fit: none;
}
.img-exit-o {
  content: url(#{$imgPath}img_exit_line.png);
  width: 1920px;
  height: 353px;
  object-fit: none;
}
.img-pre-treatment {
  content: url(#{$imgPath}img_PRE-TREATMENT_line.png);
  width: 1920px;
  height: 379px;
  object-fit: none;
}
.img-post-treatment {
  content: url(#{$imgPath}img_POST-TREATMENT_line.png);
  width: 1920px;
  height: 466px;
  object-fit: none;
}
.img-center-helper {
  content: url(#{$imgPath}img_CENTER_HELPER.png);
  width: 1920px;
  height: 190px;
  object-fit: none;
}
.img-entry-loop-line {
  content: url(#{$imgPath}img_entry_loop_line.png);
  width: 350px;
  max-height: 470px;
  object-fit: cover;
}
.img-entry-loop-b-line {
  content: url(#{$imgPath}img_entry_loop_bline.png);
  width: 331px;
  max-height: 503px;
  object-fit: cover;  
}
.img-entry-loop-bottom {
  position: absolute;
  content: url(#{$imgPath}img_TENSION_LOOP_1.png);
  width: 377px;
  height: 61px;
  top: 516px;
  left: 21.39px;
}

// -- page Icon -----------------------------
.ic-roll-120 {
  @include create_ic_roll(120); 
}
.ic-roll-54 {
  @include create_ic_roll(54); 
}
.ic-roll-50 {
  @include create_ic_roll(50); 
}
.ic-roll-46 {
  @include create_ic_roll(46); 
}
.ic-roll-40 {
  @include create_ic_roll(40); 
}
.ic-roll-34 {
  @include create_ic_roll(34); 
} 
.ic-roll-30 {
  @include create_ic_roll(30); 
}
.ic-roll-28 {
  @include create_ic_roll(28); 
}
.ic-roll-26 {
  @include create_ic_roll(26); 
}
.ic-roll-24 {
  @include create_ic_roll(24); 
}
.ic-roll-22 {
  @include create_ic_roll(22); 
}
.ic-roll-20 {
  @include create_ic_roll(20); 
}
.ic-roll-18 {
  @include create_ic_roll(18); 
}
.ic-roll-16 {
  @include create_ic_roll(16); 
}
.ic-roll-15 {
  @include create_ic_roll(15); 
}
.ic-roll-14 {
  @include create_ic_roll(14); 
}
.ic-roll-12 {
  @include create_ic_roll(12); 
}
.ic-roll-11 {
  @include create_ic_roll(11); 
}
.ic-roll-10 {
  @include create_ic_roll(10); 
}
.ic-roll-8 {
  @include create_ic_roll(8); 
}
.ic-roll-6 {
  @include create_ic_roll(6); 
}
.ic-roll-4 {
  @include create_ic_roll(4); 
}
// line tracking
.ic-cpc2 {
  position: absolute;
  width: 13px;
  height: 6px;
  border: 1px solid #000;
  background: $cl_neutral_7;
  z-index: 99;
  &.stop {
    background: $cl_neutral_4;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
  }
}
.fault {cursor: pointer;}
.ic-cpc2-2 {
  position: absolute;
  width: 19px;
  height: 10px;
  border: 1px solid #000;
  background: $cl_neutral_7;
  z-index: 99;
  &.stop {
    background: $cl_neutral_4;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
  }
}
.ic-air-dryer {
  position: absolute;
  width: 37px;
  height: 18px;
  background: url(#{$imgPath}ic_AIRDRYER_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_AIRDRYER_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_AIRDRYER_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_AIRDRYER_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_AIRDRYER_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-air-dryer2 {
  position: absolute;
  width: 18px;
  height: 37px;
  background: url(#{$imgPath}ic_AIRDRYER2_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_AIRDRYER2_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_AIRDRYER2_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_AIRDRYER2_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_AIRDRYER2_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-air-dryer-2 {
  position: absolute;
  width: 63px;
  height: 30px;
  background: url(#{$imgPath}ic_AIRDRYER3_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_AIRDRYER3_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_AIRDRYER3_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_AIRDRYER3_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_AIRDRYER3_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-air-dryer2-2 {
  position: absolute;
  width: 30px;
  height: 63px;
  background: url(#{$imgPath}ic_AIRDRYER4_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_AIRDRYER4_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_AIRDRYER4_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_AIRDRYER4_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_AIRDRYER4_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-air-dryer2-3 {
  position: absolute;
  width: 48px;
  height: 102px;
  background: url(#{$imgPath}ic_AIRDRYER5_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_AIRDRYER5_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_AIRDRYER5_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_AIRDRYER5_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_AIRDRYER5_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-plating {
  position: absolute;
  width: 7px;
  height: 18px;
  border: 1px solid #000;
  background: $cl_neutral_7;
  z-index: 99;
  &.stop {
    background: $cl_neutral_4;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
    // z-index: 3;
  }
}
.fault-box {
  // z-index: 4;
  width: 100%;
  height: 100%;
  background: $cl_alaram_2;
  animation: blink-effect 1s step-end infinite;    
}
.ic-plating-2 {
  position: absolute;
  width: 10px;
  height: 29px;
  border: 1px solid #000;
  background: $cl_neutral_7;
  z-index: 99;
  &.stop {
    background: $cl_neutral_4;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
  }
}
.ic-tgcwg {
  position: absolute;
  width: 4px;
  height: 14px;
  border: 1px solid #000;
  background: $cl_neutral_7;
  z-index: 99;
  &.stop {
    background: $cl_neutral_4;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
  }
}
.ic-pinhole {
  position: absolute;
  width: 6px;
  height: 7px;
  border: 1px solid #000;
  background: $cl_neutral_7;
  z-index: 99;
  &.stop {
    background: $cl_neutral_4;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
  }
}
.ic-pinhole-2 {
  position: absolute;
  width: 13px;
  height: 14px;
  border: 1px solid #000;
  background: $cl_neutral_7;
  z-index: 99;
  &.stop {
    background: $cl_neutral_4;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
  }
}
.ic-circle-10 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  background: $cl_neutral_7;
  z-index: 99;
  &.stop {
    background: $cl_neutral_1;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
  }
}
.ic-square{
  position: absolute;
  width: 12px;
  height: 8px;
  &.equil-20 {
    width: 20px;
    height: 20px;
  }
  &.s16x42 {
    width: 16px;
    height: 42px;
  }
  border: 1px solid #000;
  background: $cl_neutral_7;
  z-index: 99;
  &.stop {
    background: $cl_neutral_4;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
  }
}
.ic-welder {
  position: absolute;
  width: 10px;
  height: 37px;
  background: url(#{$imgPath}ic_welder_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_welder_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_welder_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_welder_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_welder_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-cpc {
  position: absolute;
  width: 22px;
  height: 11px;
  background: url(#{$imgPath}ic_cpc_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_cpc_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_cpc_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_cpc_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_cpc_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-esoiler {
  position: absolute;
  width: 8px;
  height: 50px;
  background: url(#{$imgPath}ic_esoiler_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_esoiler_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_esoiler_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_esoiler_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_esoiler_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-esoiler2 {
  position: absolute;
  width: 12px;
  height: 82px;
  background: url(#{$imgPath}ic_esoiler2_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_esoiler2_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_esoiler2_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_esoiler2_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_esoiler2_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-esoiler3 {
  position: absolute;
  width: 16px;
  height: 128px;
  background: $cl_neutral_7;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #000;
  border-radius: 3px;
  .area {
    height: 53px;
    width: 100%;
    background: $cl_neutral_5;
    border-radius: 3px;
  }
  &.stop {
    background: $cl_neutral_4;
  }
  &.run {
    background: $cl_neutral_6;
  }
  &.fault {
    background: $cl_neutral_4;
  }
}
.ic-snip {
  position: absolute;
  width: 15px;
  height: 29px;
  background: url(#{$imgPath}ic_snip_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_snip_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_snip_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_snip_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_snip_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-snip3 {
  position: absolute;
  width: 40px;
  height: 85px;
  background: url(#{$imgPath}ic_snip3_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_snip3_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_snip3_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_snip3_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_snip3_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.sensor-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: 99;
}
// entry overview
.ic-sensor-up {
  width: 16px;
  height: 16px;
  background: url(#{$imgPath}SENSOR_UP_none.svg);
  
  &.stop {
    background: url(#{$imgPath}SENSOR_UP_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}SENSOR_UP_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}SENSOR_UP_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}SENSOR_UP_FAULT.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-sensor-down {
  width: 16px;
  height: 17px;
  background: url(#{$imgPath}SENSOR_DOWN_none.svg);
  
  &.stop {
    background: url(#{$imgPath}SENSOR_DOWN_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}SENSOR_DOWN_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}SENSOR_DOWN_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}SENSOR_DOWN_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-sensor-in {
  width: 16px;
  height: 16px;
  background: url(#{$imgPath}SENSOR_INPUT_none.svg);
  
  &.stop {
    background: url(#{$imgPath}SENSOR_INPUT_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}SENSOR_INPUT_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}SENSOR_INPUT_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}SENSOR_INPUT_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-sensor-out {
  width: 16px;
  height: 16px;
  background: url(#{$imgPath}SENSOR_OUTPUT_none.svg);
  
  &.stop {
    background: url(#{$imgPath}SENSOR_OUTPUT_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}SENSOR_OUTPUT_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}SENSOR_OUTPUT_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}SENSOR_OUTPUT_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-post-sensor-up {
  width: 20px;
  height: 20px;
  background: url(#{$imgPath}post_SENSOR_UP_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}post_SENSOR_UP_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}post_SENSOR_UP_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}post_SENSOR_UP_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}post_SENSOR_UP_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-post-sensor-down {
  width: 20px;
  height: 20px;
  background: url(#{$imgPath}post_SENSOR_DOWN_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}post_SENSOR_DOWN_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}post_SENSOR_DOWN_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}post_SENSOR_DOWN_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}post_SENSOR_DOWN_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-center-sensor-up {
  width: 12px;
  height: 12px;
  background: url(#{$imgPath}center_SENSOR_UP_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}center_SENSOR_UP_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}center_SENSOR_UP_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}center_SENSOR_UP_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}center_SENSOR_UP_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-center-sensor-down {
  width: 12px;
  height: 12px;
  background: url(#{$imgPath}center_SENSOR_DOWN_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}center_SENSOR_DOWN_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}center_SENSOR_DOWN_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}center_SENSOR_DOWN_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}center_SENSOR_DOWN_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-welder2 {
  position: absolute;
  width: 26px;
  height: 106px;
  background: url(#{$imgPath}ic_welder2_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_welder2_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_welder2_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_welder2_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_welder2_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-cpc3 {
  position: absolute;
  width: 41px;
  height: 21px;
  background: url(#{$imgPath}ic_cpc3_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_cpc3_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_cpc3_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_cpc3_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_cpc3_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-snip2 {
  position: absolute;
  width: 26px;
  height: 54px;
  background: url(#{$imgPath}ic_snip2_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_snip2_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_snip2_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_snip2_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_snip2_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-mark-m {
  position: absolute;
  width: 28px;
  height: 28px;
  background: url(#{$imgPath}ic_mark_m_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_mark_m_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_mark_m_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_mark_m_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_mark_m_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-wheel {
  position: absolute;
  width: 33px;
  height: 33px;
  background: url(#{$imgPath}ic_wheel.svg);
  z-index: 99;  
  &.run {
    animation: rotate 2s infinite linear;
  }
}
.ic-epc {
  position: absolute;
  width: 31px;
  height: 62px;
  background: url(#{$imgPath}ic_epc_none.svg);
  z-index: 99;
  
  &.stop {
    background: url(#{$imgPath}ic_epc_stop.svg);
  }
  &.run {
    background: url(#{$imgPath}ic_epc_run.svg);
  }
  &.fault {
    background: url(#{$imgPath}ic_epc_stop.svg);
    .fault-img {
      width: 100%;
      height: 100%;
      background: url(#{$imgPath}ic_epc_fault.svg);
      animation: blink-effect 1s step-end infinite;    
    }
  }
}
.ic-wpd {
  position: absolute;
  width: 28px;
  height: 15px;
  background: url(#{$imgPath}ic_wpd.svg);
  z-index: 99;
}

// -------------------------------------------

// 시계방향
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
// 반시계방향
@keyframes rotate2 {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
// 깜빡임
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}


.ctrl-wrap {
  padding: 34px;
}