@import "func";
@import url("reset.css");

body {position: relative;}
.wrapper {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    .header-topbar {
      padding: 0 10px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $cl_data_1;
      .topbar-left {
        display: flex;
        align-items: center;
        gap: 20px;

        .grp-arrow {
          display: flex;
          gap: 10px;
          .btn-arrow {
            width: 32px;
            height: 32px;
            background-image: url(#{$imgPath}ic_pre_arrow_wh_24.svg);
            background-color: transparent;
            background-position: center;  
            &.next {
              transform: rotate(180deg);
              &:disabled {
                background-image: url(#{$imgPath}ic_next_arrow_dis_24.svg);
                transform: rotate(360deg);
              }
            }
            &.pre {
              &:disabled {
                background-image: url(#{$imgPath}ic_next_arrow_dis_24.svg);
                transform: rotate(180deg);
              }
            }
            
          }
        }

        .img-logo {height: 16px;}
        .line-name {
          display: flex;
          gap: 4px;
          align-items: center;
          justify-content: center;
          width: 113px;
          height: 28px;
          border-radius: 100px;
          background: #fff;
          box-shadow: 0px 4px 6px 0px #00000026;
          font-size: 16px;
          font-weight: 700;
          color: $cl_data_1;
        }
      }
      .topbar-menutext {
        font-size: 20px;
        font-weight: 700;
        color: $cl_neutral_6;
      }
      .topbar-right {
        display: flex;
        align-items: center;
        gap: 20px;
        .datetime-wrap {
          display: flex;
          gap: 10px;
          p {
            font-size: 16px;
            font-weight: 400;
            color: $cl_neutral_6;
          }
        }
        .btn-onoff {
          width: 32px;
          height: 32px;
          background-image: url(#{$imgPath}ic_onoff_24.svg);
          background-color: transparent;
          background-position: center;  
        }
      }
    }

    .header-contents {
      height: 92px;
      padding: 10px;
      display: flex;
      gap: 14px;
      background: $cl_neutral_4;

      .hd-table-wrap {
        width: 552px;
        table {
          table-layout: fixed;
          thead tr th, tbody tr td:first-child {
            white-space: nowrap;
            height: 24px;
            &:nth-child(2) {width: 130px;}
            &:not(:nth-child(2)) {width: 60px;}
            padding: 0 2px;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            background: $cl_neutral_3;
            border: 1px solid $cl_neutral_4;
            color: $cl_neutral_6;
          }
          tr td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border: 1px solid $cl_neutral_4;
            background: $cl_neutral_1;
            padding: 0 2px;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            color: $cl_alaram_2;
          }
        }
      }
      .hd-grp-btn {
        flex: 1;
        display: flex;
        gap: 10px;
        button {
          flex: 1;
          @include flex_center;
          border: 1px solid $cl_neutral_1;
          border-radius: 4px;
          background: $cl_neutral_5;
          box-shadow: 0px -4px 4px 0px #00000040 inset;
          font-size: 18px;
          font-weight: 700;
          color: $cl_data_1;
          text-align: center;
          &.on {background: $cl_alaram_1;}
        }
      }
      .hd-info-speed {
        width: 280px;
        display: flex;
        li {
          flex: 1;
          display: flex;
          flex-direction: column;
          font-size: 18px;
          font-weight: 700;
          .title {
            @include flex_center;
            height: 35px;            
            background: $cl_neutral_3;
            color: $cl_neutral_6;
            border-right: 1px solid $cl_neutral_4;
          }
          .value {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 4px;            
            height: 37px;
            background: $cl_neutral_1;
            border-right: 1px solid $cl_neutral_4;
            color: $cl_alaram_2;
          }
        }
      }
    }

    .menu-wrap {
      z-index: 999;
      height: 48px;
      display: flex;
      
      & > li {
        height: 100%;
        cursor: pointer;
        position: relative;
        flex: 1 ;
        box-shadow: 0px -4px 4px 0px #00000040 inset;
        background: $cl_neutral_2;
        @include flex_center;
        font-size: 20px;
        font-weight: 400;
        color: $cl_neutral_6;        

        ul.submenu-wrap {
          z-index: 999;
          position: absolute;
          top: 100%;
          width: 100%;
          display: none;
          flex-direction: column;
          border: 1px solid $cl_neutral_5;
          padding: 0 8px;
          background: $cl_neutral_6;
          border: 1px solid $cl_neutral_5;
          box-shadow: 0px 4px 20px 0px #00000033;
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          color: $cl_neutral_1;
          li {
            height: 48px;
            display: flex;
            align-items: center;
            p {
              padding: 0 6px;
            }
            &:not(:last-child) {
              border-bottom: 1px solid $cl_neutral_7;              
            }
            &:hover {
              p {
                display: flex;
                align-items: center;
                width: 100%;
                height: 28px;
                border-radius: 4px;
                background: $cl_neutral_1;
                font-weight: 700;
                color: $cl_neutral_6;
                a {color: inherit;}
              }
            }

            &.line-2 {
              height: 56px;
              &:hover p {height: 38px;}
            }
            
          }
        }

        &:hover {
          background: $cl_neutral_6;
          box-shadow: none;
          font-weight: 700;
          color: $cl_neutral_1;

          & > ul.submenu-wrap {display: flex;}
        }
        &.sel {
          background: $cl_neutral_6;
          box-shadow: none;
          font-weight: 700;
          color: $cl_neutral_1;
        }
      }
    }
  }

  main {
    flex: 1;
    background: $cl_neutral_7;    
  }

  footer {
    height: 80px;
    background: $cl_neutral_1;
    padding: 10px;
    display: flex;
    gap: 10px;

    .alarm-title-box {
      @include flex_center;
      width: 90px;
      border-radius: 4px;
      background: $cl_alaram_1;
      font-size: 20px;
      font-weight: 900;
      color: $cl_alaram_2;
    }
    .alarm-data-box {
      padding: 4px 5px 4px 10px;
      flex: 1;
      border: 1px solid $cl_neutral_3;
      border-radius: 4px;
      .data-wrap {
        padding: 0 4px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: overlay;

        &::-webkit-scrollbar-button:single-button:vertical{
          /* single button styling */
          &:decrement {
            // padding-top: 4px;
            background: url(#{$imgPath}ic_arrow_up_24.svg);
          }
          &:increment {
            background: url(#{$imgPath}ic_arrow_down_24.svg);
          }
        }
        &::-webkit-scrollbar {
          width: 24px;  
        }
        &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
          background: transparent; /* 스크롤바 색상 */
        }
      
        .data-list {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-top: 4px;
          li {
            height: 20px;
            display: flex;
            font-size: 14px;
            font-weight: 400;
            color: $cl_alaram_2;

            p {
              &:first-child {width: 253px;}
              &:nth-child(2) {width: 200px;}
              &:nth-child(3) {width: 200px;}
              &:nth-child(4) {flex: 1;}
              &:last-child {
                width: 60px;
                color: $cl_neutral_6;
              }
            }
          }
        }
      }      
    }
    .server-info-box {
      width: 442px;
      display: flex;
      flex-direction: column;
      border: 1px solid $cl_neutral_3;

      li {
        display: flex;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
        color: $cl_neutral_6;
        &:first-child {
          border-bottom: 1px solid $cl_neutral_3;        
        }
        p {
          @include flex_center;
          &:not(:last-child) {border-right: 1px solid $cl_neutral_3;}
          &:first-child,&:last-child {width: 102px;}
          &:nth-child(2) {width: 38px;}
          &:nth-child(3), &:nth-child(4) {width: 100px;}
          &.on {
            background: $cl_alaram_5;
            font-weight: 700;
            color: $cl_neutral_1;
          }
        }
      }
    }
  }
}

.err404-wrapper {
  width: 100%;
  height: 100%;
  @include flex_center;

  .err-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: $cl_neutral_1;
    .text-wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        font-weight: 700;
        text-align: center;
      }
      h3 {
        text-align: center;
        font-weight: 400;
        color: $cl_neutral_2;
      }
    }
    .btn-go-pre {
      @include flex_center;
      width: 160px;
      height: 48px;
      border-radius: 4px;
      border: 0.78px solid $cl_neutral_4;
      box-shadow: 0px -3.12px 3.12px 0px #00000040 inset;      
      font-weight: 700;
    }
  }

}

// 기본 밑그림
.bg-line-wrap {
  position: absolute;  
  z-index: 1;
}

.img-label {
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  color: $cl_neutral_1;
  height: 17px;
  line-height: 17.38px;
  text-align: center;
  &.line-2 {
    height: 28px;
    line-height: 14px;
  }
}
// list-grid -   ------------------------
// list-grid와 data-title 의 width 는 직접 적용해야 함.
.list-grid {
  position: absolute;
  display: flex;
  flex-direction:  column;
  font-size: 14px;
  font-weight: 700;

  .list-title {
    width: 100%;
    height: 28px;
    color: $cl_neutral_1;
    border-top: 1px solid $cl_neutral_4;
    background: $cl_neutral_5;

    @include flex_center;
  }  
  .t-center {
    justify-content: center !important;
  }
  ul.list-data {
    display: flex;
    li {
      & > * {background: $cl_neutral_5};
      display: flex;
      flex-direction: column;
      p {
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 4px;
        height: 28px;
        border-top: 1px solid $cl_neutral_4;
        &:last-child {
          border-bottom: 1px solid $cl_neutral_4;          
        }
        &.title {
          justify-content: center !important;
          color: $cl_neutral_1;
        }
        &:first-child:nth-last-child(1) {height: 100%;}
        &.on {
          background: $cl_neutral_6;
        }
        &.underline {
          text-decoration: underline $cl_data_1;
        }
        &.bg-wh {
          background: $cl_neutral_6;
          &:last-child {border-bottom: none;}
        }
      }
      &:first-child {
        p.on {
          border-left: 1px solid $cl_neutral_4;
        }
      }
      &.data, &.button {
        flex: 1;
        color: $cl_data_1;
        &:not(:first-child) {
          border-left: 1px solid $cl_neutral_4;
        }
        p {justify-content: flex-end;}
        p.button {padding: 2px;}
      }    
      &.button {        
        .grid-btn {
          background: $cl_neutral_7;
          flex: 1;
          display: flex;
          align-items: center;
          button {
            @include flex_center;
            width: 100%;
            height: 28px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 700;
            box-shadow: 0px -4px 4px 0px #00000040 inset;
            color: $cl_neutral_1;
            background: $cl_neutral_6;
            border: 1px solid $cl_neutral_4;
          }
          &.flex-start {
            padding-left: 11px;
            padding-right: 5px;
            justify-content: flex-start;
          }
          &.flex-end {
            padding-right: 11px;
            padding-left: 5px;
            justify-content: flex-end;
          }
        }
      }
      .btn-cooling {
        @include flex_center;
        width: 100%;
        height: 24px;
        border-radius: 4px;
        border: 1px solid $cl_neutral_4;
        box-shadow: 0px -4px 4px 0px #00000040 inset;
        background: $cl_neutral_5;
        font-size: 14px;
        font-weight: 700;
        color: $cl_data_1;
        &.on {
          background: $cl_neutral_6;
        }
      }
      .tuning-box {
        border-top: 1px solid $cl_neutral_4;
        width: 100%;
        background: $cl_neutral_5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .vaule {
          @include flex_center;
          flex: 1;
          height: 28px;
          font-size: 14px;
          font-weight: 700;
          color: $cl_data_1;
          text-decoration: underline;
        }
      }
    }
    .bd-left-none {
      border-left: none !important;
    }
    .bd-bottom {
      border-bottom: 1px solid $cl_neutral_4 !important;
    }
    .bd-left {
      border-left: 1px solid $cl_neutral_4 !important;
    }
    .bd-right {
      border-right: 1px solid $cl_neutral_4 !important;
    }
    .bd-top {
      border-top: 1px solid $cl_neutral_4 !important;
    }
  }    
}

.bd-dot {
  &.top {border-top: 2px dotted $cl_data_1 !important;}
  &.bottom {border-bottom: 2px dotted $cl_data_1 !important;}
  &.left {border-left: 2px dotted $cl_data_1 !important;}
  &.right {border-right: 2px dotted $cl_data_1 !important;}
}
.clbk {color: $cl_neutral_1;}

// table -------------------------------
.table-wrap {
  position: absolute;
  width: 1896px;

  table {
    font-size: 14px;
    color: $cl_neutral_1;
    thead {
      tr th {
        height: 28px;
        background: $cl_neutral_5;
        font-weight: 700;
        border: 1px solid $cl_neutral_4;
        vertical-align: middle;
        text-align: center;
      }
    }
    tbody {
      tr {
        height: 28px;
        font-weight: 400;
        background: $cl_neutral_6;
        &.sel {
          background: $cl_data_5;
        }
        td {
          vertical-align: middle;
          text-align: center;
          border: 1px solid $cl_neutral_4;
        }
      }
    }
  }
}

// gauge
.gauge-wrap {
  width: 190px;
  background: $cl_neutral_5;
  display: flex;
  flex-direction: column;
  align-items: center;
  .gauge-top-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .gauge-title {
      @include flex_center;
      width: 100%;
      height: 32px;
      background: $cl_neutral_3;
      font-size: 14px;
      font-weight: 700;
      color: $cl_neutral_6;
    }

    .grp-button {
      padding: 10px;
      display: flex;
      gap: 6px;
      flex-wrap: wrap;

      button {
        // cursor: pointer;
        @include flex_center;
        width: 82px;
        height: 28px;
        border-radius: 3.12px;
        box-shadow: 0px -3.12px 3.12px 0px #00000040 inset;
        border: 0.78px solid $cl_neutral_4;
        background: $cl_neutral_5;
        font-size: 14px;
        font-weight: 700;
        color: $cl_data_1;

        &.on {
          background: $cl_neutral_6;
        }
      }
    }
  }
  .gauge-box-wrap {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .gauge-box {
      position: relative;
      width: 160px;
      height: 92px;
      .img-graduation {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 80px;
        background: url(#{$imgPath}graduation_2x.png);
        background-size: contain;
      }
      .unit-txt {
        position: absolute;    
        font-size: 14px;
        font-weight: 900;
        color: $cl_neutral_1;    
        line-height: 20.27px;
      }
      .grd-txt {
        position: absolute;
        font-size: 11px;
        font-weight: 700;
        color: $cl_neutral_1;
        line-height: 15.93px;
      }
      .ct-needle {
        @include flex_center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $cl_neutral_1;
        .inside {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: radial-gradient(50% 50% at 50% 50%, #EB3338 0%, #A81117 100%);
        }
      }
      .img-needle {
        position: absolute;
        bottom: 12px;
        left: 76px;
        width: 8px;
        height: 80px;
        background: url(#{$imgPath}needle_3x.png);
        background-size: cover;        
        transform-origin: bottom center ;

        // test
        &.on {
          animation: rotate2 10s infinite linear;
        }
      }
    }
    .gauge-value {
      @include flex_center;
      width: 170px;
      height: 28px;
      background: $cl_neutral_6;
      font-size: 14px;
      font-weight: 700;
      color: $cl_data_1;
    }
  }
  .gauge-bottom-wrap {
    padding: 6px 10px 10px 10px;
    .grp-btn-text {
      display: flex;
      gap: 6px;
      button {
        @include flex_center;
        width: 82px;
        height: 28px;
        border-radius: 3.12px;
        box-shadow: 0px -3.12px 3.12px 0px #00000040 inset;
        border: 0.78px solid $cl_neutral_4;
        background: $cl_neutral_5;
        font-size: 14px;
        font-weight: 700;
        color: $cl_neutral_1;

        &.on {
          background: $cl_neutral_6;
        }
      }
      .txt {
        @include flex_center;
        width: 82px;
        height: 28px;
        border-radius: 4px;
        border: 1px solid $cl_neutral_3;
        font-size: 14px;
        font-weight: 700;
        color: $cl_data_1;
        &.underline {
          text-decoration: underline $cl_data_1;
        }
      }
    }
  }
}

#bg-popup1 {
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,.3); 
  position:absolute;         // 포지션 픽스, 화면이 스크롤되더라도 고정되기 위함
  top:0;
  left:0;
  right:0;
  bottom:0; 
  display:block;
  z-index: -1;
  opacity: 0;
  &.off {
    animation: fadeout 2s; 
  }
  &.on {
    z-index: 1000;
    opacity: 1;
    animation: fadein 2s; 
  }
}

#bg-popup2 {
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,.3); 
  position:absolute;         // 포지션 픽스, 화면이 스크롤되더라도 고정되기 위함
  top:0;
  left:0; 
  right:0;
  bottom:0; 
  display:block;
  z-index: -1;
  opacity: 0;
  &.off {
    animation: fadeout 2s; 
  }
  &.on {
    z-index: 1002;
    opacity: 1;
    animation: fadein 2s; 
  }
}

.popup-wrap {  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  min-width: 180px;
  min-height: 180px;
  box-shadow: 0px 4px 30px 0px #00000026;
  background: $cl_neutral_6;
  display: flex;
  flex-direction: column;
  z-index: -1;
  opacity: 0;

  &.off {
    animation: fadeout 2s; 
  }
  &.on {
    z-index: 1001;
    opacity: 1;
    animation: fadein 2s; 
  }
  &.popup-wrap2.on {
    z-index: 1003;
  }
  .popup-header {
    padding: 11px;
    width: 100%;
    height: 28px;
    background: $cl_neutral_1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    .btn-min {
      width: 8px;
      height: 2px;
      background-image: url(#{$imgPath}ic_popup_min.svg);
    }
    .btn-max {
      width: 8px;
      height: 8px;
      background-image: url(#{$imgPath}ic_popup_max.svg);
    }
    .btn-close {
      width: 18px;
      height: 18px;
      background-image: url(#{$imgPath}ic_x_18.svg);
    }
  }
  .popup-body {
    padding: 20px;
    .list-grid {
      position: relative;
      width: 100%;
      .list-data {
        li {
          button {
            // @include flex_center;
            // width: 100%;
            // height: 24px;
            // border-radius: 4px;
            // font-size: 14px;
            // font-weight: 700;
            // box-shadow: 0px -4px 4px 0px #00000040 inset;
            // color: $cl_data_1;
            // background: $cl_neutral_5;
            // border: 1px solid $cl_neutral_4;
            &.on {background: $cl_neutral_6;}
          }
          p.on {background: $cl_data_5;}
          p.wh {background: $cl_neutral_6;}
        }
      }
    }

    .pop-title {
      @include flex_center;
      width: 100%;
      height: 28px;
      background: $cl_neutral_3;
      font-size: 14px;
      font-weight: 700;
      color: $cl_neutral_6;
    }
    .subCon {
      position: relative;
      border: 1px solid $cl_neutral_3;
      padding: 10px;

      .label {
        height: 20px;
        position: absolute;
        background: $cl_neutral_6;
        font-size: 14px;
        font-weight: 700;
        color: $cl_neutral_1;
        top: -11px;
        left: 10px;
      }
      &:has(.label) {padding: 20px 10px 10px;margin-top: 20px;}
    }
    .button-box {
      width: 100%;
      display: flex;
      li {
        flex: 1;
        padding: 0 2px;
        @include flex_center;
        height: 28px;
        background: $cl_neutral_5;
        border: 1px solid $cl_neutral_3;   
        &:first-child {
          border-right: none;
        }
      }
    }
    button.btn-normal{
      @include flex_center;
      width: 100%;
      height: 24px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 700;
      box-shadow: 0px -4px 4px 0px #00000040 inset;
      color: $cl_data_1;
      background: $cl_neutral_5;
      border: 1px solid $cl_neutral_4;
      &.on {background: $cl_neutral_6;}
    }
  }
  .popup-footer {
    padding: 0 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    button {
      flex: 1;
      font-weight: 700;
      font-size: 14px;
      color: $cl_neutral_1;
      height: 28px;
      border-radius: 4px;
      background: $cl_neutral_6;
      border: 1px solid $cl_neutral_4;
      box-shadow: 0px -4px 4px 0px #00000040 inset;
      @include flex_center;
    }
  }  
}

.btn-tuning-arrow {
  width: 28px;
  height: 28px;
  &.down {
    background: url(#{$imgPath}ic_tuning_arrow_down_28.svg);
  }
  &.up {
    background: url(#{$imgPath}ic_tuning_arrow_up_28.svg);
  }
}
//----- image -------------------------
.ic-onoff-24 {
  content: url(#{$imgPath}ic_onoff_24.svg);
  width: 24px;
  height: 24px;  
}
.ic-loc-16 {
  content: url(#{$imgPath}ic_loc_16.svg);
  width: 16px;
  height: 16px;  
}
.img-err404 {
  content: url(#{$imgPath}img_404.png);
  width: 160px;
  height: 160px;
}
.img-linetracking-o {
  content: url(#{$imgPath}img_LINETRACKING_o.png);
  width: 1920px;
  height: 314px;
}
.img-linetracking-2 {
  content: url(#{$imgPath}img_LINETRACKING_data2.png);
  width: 1920px;
  height: 314px;
  object-fit: none;
}


// 제자리 회전 예제
.test-rotate {
  z-index: 99;
  position: absolute;
  top: 297px;
  left: 25px;
  width: 40px;
  height: 40px;
  background: url(#{$imgPath}ic_test_rotate_40.svg);
  background-size: cover;
  &.on {
    animation: rotate 2s infinite linear;
  }
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate2 {
  0% { transform: rotate(-90deg); }
  50% { transform: rotate(90deg); }
  100% { transform: rotate(-90deg); }
}



.ctrl-wrap {
  padding: 34px;
}