@import "func";
@import url("reset.css");
@import url("common.css");

.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.line-trk-wrapper {
  .table-wrap {
    z-index: 2;
    position: absolute;
    width: 1896px;
  }
  .bg-line-wrap {
    top: 87px;
    left: 44.5px;
  }  
  .bg-line2-wrap {
    top: 87px;
    left: 0;    
  }  
  .gd-reflow {
    top: 440px;
    left: 1190px;
    width: 130px;
    .list-data .data-title {
      width: 70px;
    }    
  }
  .gd-quenching {
    top: 374px;
    left: 1334px;
    width: 157px;
    .list-data .data-title {
      width: 97px;
    }    
  }
  .gd-bottom-plating {
    top: 10px;
    left: 1002px;
    width: 130px;
    .list-data .data-title {
      width: 38px;
    }    
  }
  .gd-top-plating {
    top: 10px;
    left: 1142px;
    width: 120px;
    .list-data .data-title {
      width: 38px;
    }    
  }
  .gd-loop-position {
    top: 10px;
    left: 318px;
    width: 120px;
    .list-data .data-title {
      width: 38px;
    }    
  }
  .gd-bridle-roll {
    width: 243px;
    &.num3 {
      width: 313px;
    }
    .list-data .data-title {
      width: 103px;
    }    
  }
  .gd-cleaning {
    width: 197px;
    top:10px; 
    left:541px;
    .list-data .data-title {
      width: 103px;
    }   
  }
  .gd-por {
    top: 440px;
    left: 12px;
    width: 430px;
    .list-data .data-title {
      width: 130px;
    } 
  }
  .gd-line-mcc {
    top: 440px;
    left: 851px;
    width: 200px;
  }
  .gd-chemical {
    width: 157px;
    top: 440px;
    left: 1334px;
    .list-data .data-title {
      width: 38px;
    } 
  }
  .gd-tr {
    top: 440px;
    left: 1502px;
    width: 408px;
    .list-data .data-title {
      width: 130px;
    } 
  }

  .loop-box-wrapper {
    z-index: 2;
    position: absolute;
    left: 322px;
    top: 134px;
    height: 260px;
    .loop-box {
      width: 111px;
      max-height: 260px;  
      position: relative;
      background: url(#{$imgPath}img_trk_loop_line.png);     
      background-size: cover;
      .roll-base-bar {
        position: absolute;
        width: 111px;
        bottom: 5px;
        left: 0;
      }      
    }
  }
}

.entry-o-wrapper {
  .bg-line-wrap {
    top: 180px;
    left: 0;
  }
  
  .gd-pinchroll {    
    width: 191px;
    .list-data .data-title {
      width: 107px;
    } 
  }
  
  .gd-por {  
    top: 523px;
    left: 20px;  
    width: 450px;
    .list-data .data-title {
      width: 150px;
    } 
  }

  .gd-bridleroll {    
    top: 523px;
    left: 577px;
    width: 252px;
    .list-data .data-title {
      width: 107px;
    } 

    .list-data.list2 {
      li p {border-top: none;}
    }
  }

  .gd-tensionloop {
    width: 254px;
    top: 540px;
    left: 1384px;
    .list-data .data-title {
      width: 184px;
    }
  }

  .gauge1 {
    z-index: 2;
    position: absolute;         
  }

  .gauge2 {
    z-index: 2;
    position: absolute; 
    top:6px;
    left:829px;
    
  }

  .loop-box-wrapper {
    z-index: 2;
    position: absolute;
    .loop-box {
      width: 419px;
      height: 516px;
      position: relative;
      .roll-base-bar {
        position: absolute;
        width: 419px;
        height: 13px;
        border: 1px solid #000;
        background: $cl_neutral_5;
  
        &.bottom {
          width: 380px;
        }
      }
      .loop-line {
        position: absolute;
        top: 4.5px;
        left: 35px;
        height: 470px;
        display: flex;
        flex-direction: column;
      }
      .img-entry-loop-b-line {
        position: absolute;
        bottom: 0;
        left: 42px;
      }
    }
  }
}

.entry-i-wrapper {
  display: flex;
  column-gap: 40px;
  row-gap: 38px;
  flex-wrap: wrap;
  padding: 40px 60px;
  .inter-table-wrap {
    width: 570px;
    height: 336px;

  }
}

.center-o-wrapper {
  .bg-line-wrap {
    top: 108px;
    left: 0;
  }
  
  .gauge1 {
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 20px;
    .gauge-title {text-decoration: underline;}
  }
  .gauge2 {
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 220px;
  }

  .gd-enc {
    width: 120px;
    .list-data .data-title {width: 38px;}
  }

  .gd-quenching {
    top: 463px;
    left: 1297px;
    width: 149px;
    .list-data .data-title {width: 89px;}
  }

  .gd-reflow {
    top: 5px;
    left: 1388px;
    width: 130px;
    .list-data .data-title {
      width: 70px;
    }    
  }

  .gd-oiler {
    top: 5px;
    left: 1750px;
    width: 158px;
    .list-data .data-title {
      width: 98px;
    }   
  }
}


.center-i-wrapper {
  display: flex;
  gap: 40px;
  padding: 60px;
  .inter-table-wrap {
    width: 880px;
    height: 700px;
  }
}

.exit-o-wrapper {
  .bg-line-wrap {
    top: 160px;
    left: 0;
  }
  
  .gd-pinchroll {
    width: 191px;
    .list-data .data-title {width: 107px;}
  }

  .gd-cam {width: 147px;}

  .gd-tr {
    top: 523px;
    left: 1174px;  
    width: 450px;
    .list-data .data-title {
      width: 150px;
    } 
  }

  .gd-bridleroll {    
    width: 322px;
    .list-data .data-title {
      width: 112px;
    } 

    .list-data.list2 {
      li p {border-top: none;}
    }
  }

  .gd-chemical {
    width: 294px;
    top: 374px;
    left: 70px;
    .list-data .data-title {
      width: 234px;
    } 
  }

  .gd-snip {
    top: 374px;
    left: 700px;
    width: 149px;
    .list-data .data-title {
      width: 89px;
    }
  }

  .gd-apron {
    width: 148px;
    .list-data .data-title {
      width: 88px;
    }
  }

  .gd-epc {
    width: 148px;
    .list-data .data-title {
      width: 76px;
    }
  }

  .gd-belt {
    width: 237px;
    top: 523px;
    left: 1634px;
    .list-data li{
      flex: none;
      &:first-child {width: 108px;}
      &:nth-child(2) {width: 59px;}
      &:last-child {width: 70px;}
    }
  }
  
  .gd-simple {
    width: 528px;
    .list-data li {
      p:last-child {height: 40px;}
    }
  }

  .gauge1 {
    z-index: 2;
    position: absolute;    
  }

  .gauge2 {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 270px;
  }
}

.pre-treatment-wrapper {
  .gd-cleaning {
    width: 275px;
    .list-data .data-title {
      width: 135px;
    }
    .way-box {
      height: 28px;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $cl_neutral_4;
      .way {
        display: flex;
        gap: 4px;
        p {border: none;}
      }
    }
    .button-box {
      height: 28px;
      border-top: 1px solid $cl_neutral_4;
      border-bottom: 1px solid $cl_neutral_4;
      background: $cl_neutral_5;
      display: flex;
      width: 100%;
      .box {
        // background: transparent;
        flex: 1;
        &:first-child {padding: 1px;border-right: 1px solid $cl_neutral_4;}
        &:last-child {
          display: flex;align-items: center;justify-content: flex-end;
          padding-right: 6px;
          text-decoration: underline;
        }
      }     
    }
  }
}

.post-treatment-wrapper {
  .gauge-wrap {
    z-index: 2;
    position: absolute;
  }

  .tuning-box {
    margin: 0 2px;
    gap: 4px;
    .value {
      flex: 1;
      // height: 100%;
      border-radius: 4px;
      border: 1px solid $cl_neutral_3;
      background: transparent;
      text-decoration: underline;
    }
  }  

  .gauge-wrap {
    .gauge-box-wrap {
      gap: 6px;
      margin-top: 6px;
    }
    .box {
      width: 100%;
      padding: 6px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 6px; 
      font-size: 14px;
      font-weight: 700;
      .title-box {
        height: 28px;
      }
      .tuning-box {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 6px;
        .value {
          flex: 1;
          @include flex_center;
          border-radius: 4px;
          border: 1px solid $cl_neutral_3;
          color: $cl_data_1;
        }

      }
    }
  }
}

.center-helper-wrapper {
  padding: 20px 20px 10px;
  .bg-box {
    width: 1880px;
    height: 284px;
    border-radius: 10px;
    background: $cl_neutral_6;   
    margin-bottom: 20px; 
  }
  .table-box {
    display: flex;    
    .table-wrap {
      flex: 1;

      table {
        font-size: 12px;
        thead {
          tr th {
            text-decoration: none !important;
            font-weight: 700;
            height: 46px;
            line-height: 14px;
            background: $cl_neutral_3;
            border: 1px solid $cl_neutral_4;
            vertical-align: middle;
            text-align: center;
            color: $cl_neutral_6;
          }
        }
        tbody {
          tr {
            height: 20px;
            font-weight: 700;
            background: $cl_neutral_5;            
            td {
              vertical-align: middle;
              text-align: center;
              border: 1px solid $cl_neutral_4;
            }
          }
        }
      }
    }
  }
}

.rectifier-preset-wrapper {
  .list-grid {
    position: relative;    
    .list-data li > * {height: 36px;}
    ul li .btn-normal{height: 100%;}
  }
  padding: 122px 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .flex-row {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .title-box {height: 28px;}

  .gd-plating {
    width: 1360px;
    .list-data .data-title {
      width: 140px;
    }
  }
  .gd-chemical {
    width: 400px;
    .list-data .data-title {
      width: 200px;
    }
  }
  .setting-box {
    display: flex;
    gap: 10px;
    .gd-setting {
      width: 384px;
      display: flex;
      flex-direction: column;
      .title-wrap {
        height: 28px;
        display: flex;
        .title-box {
          border: 1px solid $cl_neutral_4;
          border-bottom: none;
          &:first-child {width: 140px;}
          &:last-child {flex: 1;}
        }
      }
      .list-data .data-title {
        width: 140px;
      }
    }
    .explan-text {
      font-size: 14px;
      font-weight: 700;
      line-height: 20.27px;
      color: $cl_neutral_1;
      padding-top: 16px;
    }
  }
  .setting-box2 {
    display: flex;
    flex-direction: column;
    width: 400px;
    .button-line {
      display: flex;
      .box {
        height: 56px;
        flex: 1;
        background: $cl_neutral_5;
        border-top: 1px solid $cl_neutral_4;
        border-bottom: 1px solid $cl_neutral_4;
        padding: 2px;
        button {
          @include flex_center;
          border-radius: 4px;
          width: 100%;
          height: 100%;
          background: $cl_neutral_6;
          font-size: 14px;
          font-weight: 700;
          color: $cl_neutral_1;
          box-shadow: 0px -4px 4px 0px #00000040 inset;
        }
      }
    }
  }

}

// 약품 농도 & 온도 관리
.chemical-qmsif-wrapper {
  padding: 60px;
  display: flex;
  gap: 40px;

  .flex-col {
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  table tr td, table tr th {
    font-weight: 700;
    background: $cl_neutral_5;
    &.on {background: $cl_neutral_6;color: $cl_data_1;}
    padding: 0 6px;
    &:first-child {border-left: none;}
    &:nth-last-child(7) {padding: 0 10px;}
    &:last-child {border-right: none;}
  }
  .density-table {
    width: 1100px;
    table tr td {
      &:nth-last-child(7),&:nth-last-child(8) {text-align: left;}
      &:nth-last-child(3),&:nth-last-child(4),&:nth-last-child(5) {text-align: right;}
      &:nth-last-child(1),&:nth-last-child(2),&:nth-last-child(3) {
        color: $cl_data_1;
      }
    }
  }
  .temper-table {
    width: 100%;
    table tr td {
      &:nth-last-child(4),&:nth-last-child(5) {text-align: left;}
      &:nth-last-child(1),&:nth-last-child(2),&:nth-last-child(3) {text-align: right;}
      &:nth-last-child(1) {
        color: $cl_data_1;
      }
    }
  }
  .conc-table {
    width: 100%;
    table tr td {
      text-align: right;
      &:first-child {text-align: left;}
    }
  }
}
// 약품 액량 & 폐액 관리
.chemical-mesif-wrapper {
  padding: 60px 0 0 410px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .flex-row {
    display: flex;
    gap: 40px;
  }

  table tr td, table tr th {
    font-weight: 700;
    background: $cl_neutral_5;
    &.on {background: $cl_neutral_6;}
    &:first-child {border-left: none;}
    &:last-child {border-right: none;}

    .img-box {
      display: flex;
      align-items: center;
      justify-content: center;      
      gap: 7px;
    }
  }
  table tr td {
    padding: 0 6px 0 10px;
  }
  .mesif-table {
    width: 1040px;

    table tr td {
      color: $cl_data_1;
      text-align: right;
      &:first-child {color: $cl_neutral_1;text-align: left;}
      &:nth-child(2),&:last-child {text-align: center;}
    }
  }
  .waste-table {
    width: 620px;
    table tr td {
      text-align: center;
      color: $cl_neutral_1;
      &:first-child {text-align: left;}
      &:nth-child(2),&:last-child {color: $cl_data_1;}
    }
  }
  .utility-table {
    width: 380px;
    table tr td {
      text-align: center;
      color: $cl_neutral_1;
      &:nth-child(2),&:nth-child(4) {text-align: right;color:$cl_data_1}
    }
  }
}

// CENTER 제어기준 설정
.setting-center-wrapper {
  .list-grid {
    position: relative;    
    .list-data li > * {height: 36px;}
  }
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  .flex-row {
    display: flex;
    gap: 40px;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .plating-table {
    width: 1360px;
  }
  .table-wrap {
    table {
      &:last-child {margin-top: 10px;}
      tr td, tr th {
        font-weight: 700;
        background: $cl_neutral_5;
        &.on {}
        &:first-child {border-left: none;}
        &:last-child {border-right: none;}
      }
      
      tr {
        height: 36px;
        th:first-child,td:nth-child(2) {
          border-right:3px solid $cl_neutral_3;
        }
        td {
          padding: 0 6px;
          text-align: right;
          background: $cl_neutral_6;color: $cl_data_1;   
          &:first-child {text-align: left;color: $cl_neutral_1;}  
        }
        &:last-child td, td:first-child {background: $cl_neutral_5;}
        &:not(:last-child) td:not(:first-child){text-decoration: underline;}
      }
    }
  }
  .top-table {
    tr td {
      &:nth-last-child(1),&:nth-last-child(2),&:nth-last-child(3) {
        background: $cl_neutral_5;
      }
    }
  }
  .title-box {height: 28px;font-weight: 700;}

  .gd-chemical {
    width: 400px;

    .list-data li {flex: 1;}
    .ls-up {margin-top: 10px;}
  }

  .gd-pan {
    width: 660px;
    .list-data li {flex: 1;}

    .title-box {
      &:nth-child(3) {margin-top: 40px;}
    }
  }


  .gd-attach {
    width: 660px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .list-data {
      width: 330px;
      .data-title {width: 100px;}

      &:nth-child(1),&:nth-child(3) {
        border-right: 2px solid $cl_neutral_3;
      }
      &:nth-child(1),&:nth-child(2) {
        border-bottom: 2px solid $cl_neutral_3;
      }
    }

  }

  .setting-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    .button-line {
      display: flex;
      .box {
        height: 56px;
        flex: 1;
        background: $cl_neutral_5;
        border-top: 1px solid $cl_neutral_4;
        border-bottom: 1px solid $cl_neutral_4;
        padding: 2px;
        button {
          height: 100%;
        }
      }
    }
  }
}

.setting-mcc-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .table-wrap {
    width: 910px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .table-title {width: 910px;}
    table {
      width: 450px;
      tr td, tr th {
        &:first-child {border-left: none;}
            &:last-child {border-right: none;}
      }
      thead tr th {border-top: none;}
      tbody {
        tr {
          td {
            height: 36px;
            padding: 2px;
            background: $cl_neutral_5;
            font-weight: 700;
            &.on {
              background: $cl_neutral_6;
            }  
            &:nth-child(2) {
              padding: 0 10px;
              text-align: left;
            }   
            .btn-normal {height: 100%;}       
          }      
        } 
      }
    }
  }
}

.setting-temper-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .title-box {
    width: 1666px;
    height: 28px;
  }
  .temper-table {
    display: flex;
    gap: 10px;
    width: 1666px;

    table {
      flex: 1;
      tr {
        &:first-child th:first-child, th:nth-child(5), td:nth-child(5) {
          border-right: 2px solid $cl_neutral_2;
        } 
        th:first-child,td:first-child {border-left: none;}       
        th:last-child,td:last-child {border-right: none;}       
        td {
          height: 36px;
          font-weight: 700;   
          &:first-child {background: $cl_neutral_5;}
          &:nth-child(2) {background: $cl_neutral_5;text-align: left;padding-left: 10px;}
          &:nth-child(3) {color: $cl_data_1;padding-right: 6px;text-align: right;}
          &:nth-child(4),&:nth-child(6),&:nth-child(7) {
            text-align: right;
            color: $cl_data_1;
            text-decoration: underline;
            padding-right: 6px;
          }       
          &:nth-child(5), &:last-child {background: $cl_neutral_5;padding: 2px;}      
          .btn-normal {color: $cl_neutral_1;height: 100%;}
        }
      }           
    }
  }
}

.exit-interlock-wrapper {
  padding: 40px 60px 0 60px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  .table-wrap {
    width: 420px;
    table {
      tr {
        td {
          background: $cl_neutral_5;
          padding: 0 10px;
          font-weight: 700;
          &:first-child {border-left: none;}
          &:nth-child(2) {
            text-align: left;
          }
          &:last-child {
            color: $cl_data_1;
            border-right: none;
          }
          &.on {background: $cl_neutral_6;}
        }
        th {
          &:first-child {border-left: none;}
          &:last-child {border-right: none;}
        }
      }
    }
  }
}

.history-al-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .flex-row {
    display: flex;
    & > * {flex: 1;}
  }
  
  .dt-table-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid $cl_neutral_3;
    table tr {border-top: none !important;}
    &.scroll-table {
      .dt-layout-row:last-child {height: 0 !important;}
      .dt-container {
        .dt-layout-table {
          .dt-layout-full {
            .dt-scroll {
              .dt-scroll-head {
                border-bottom: 1px solid $cl_neutral_3;
              }
              .dt-scroll-body {
                max-height: 632px !important;
                border-bottom: none;
                // table thead {display: none;}
              }
            }
          }
        }
      }
    }
  }
}