@import "func";
@import url("reset.css");
@import url("common.css");

.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.line-trk-wrapper {
  .table-wrap {
    z-index: 2;
    position: absolute;
    width: 1896px;
  }
  .bg-line-wrap {
    top: 87px;
    left: 44.5px;
  }  
  .bg-line2-wrap {
    top: 87px;
    left: 0;    
  }  
  .gd-reflow {
    top: 440px;
    left: 1190px;
    width: 130px;
    .list-data .data-title {
      width: 70px;
    }    
  }
  .gd-quenching {
    top: 374px;
    left: 1334px;
    width: 157px;
    .list-data .data-title {
      width: 97px;
    }    
  }
  .gd-bottom-plating {
    top: 10px;
    left: 1002px;
    width: 130px;
    .list-data .data-title {
      width: 38px;
    }    
  }
  .gd-top-plating {
    top: 10px;
    left: 1142px;
    width: 120px;
    .list-data .data-title {
      width: 38px;
    }    
  }
  .gd-loop-position {
    top: 10px;
    left: 318px;
    width: 120px;
    .list-data .data-title {
      width: 38px;
    }    
  }
  .gd-bridle-roll {
    width: 243px;
    &.num3 {
      width: 313px;
    }
    .list-data .data-title {
      width: 103px;
    }    
  }
  .gd-cleaning {
    width: 197px;
    top:10px; 
    left:541px;
    .list-data .data-title {
      width: 103px;
    }   
  }
  .gd-por {
    top: 440px;
    left: 12px;
    width: 430px;
    .list-data .data-title {
      width: 130px;
    } 
  }
  .gd-line-mcc {
    top: 440px;
    left: 851px;
    width: 200px;
  }
  .gd-chemical {
    width: 157px;
    top: 440px;
    left: 1334px;
    .list-data .data-title {
      width: 38px;
    } 
  }
  .gd-tr {
    top: 440px;
    left: 1502px;
    width: 408px;
    .list-data .data-title {
      width: 130px;
    } 
  }

  .loop-box-wrapper {
    z-index: 2;
    position: absolute;
    left: 322px;
    top: 134px;
    height: 260px;
    .loop-box {
      width: 111px;
      max-height: 260px;  
      position: relative;
      background: url(#{$imgPath}img_trk_loop_line.png);     
      background-size: cover;
      .roll-base-bar {
        position: absolute;
        width: 111px;
        bottom: 5px;
        left: 0;
      }      
    }
  }
}

.entry-o-wrapper {
  .bg-line-wrap {
    top: 180px;
    left: 0;
  }

  .gd-pinchroll {    
    width: 191px;
    .list-data .data-title {
      width: 107px;
    } 
  }
  
  .gd-por {  
    top: 523px;
    left: 20px;  
    width: 450px;
    .list-data .data-title {
      width: 150px;
    } 
  }

  .gd-bridleroll {    
    top: 523px;
    left: 577px;
    width: 252px;
    .list-data .data-title {
      width: 107px;
    } 

    .list-data.list2 {
      li p {border-top: none;}
    }
  }

  .gd-tensionloop {
    width: 254px;
    top: 540px;
    left: 1384px;
    .list-data .data-title {
      width: 184px;
    }
  }

  .gauge1 {
    z-index: 2;
    position: absolute;         
  }

  .gauge2 {
    z-index: 2;
    position: absolute; 
    top:6px;
    left:829px;
    
  }

  .loop-box-wrapper {
    z-index: 2;
    position: absolute;
    .loop-box {
      width: 419px;
      height: 516px;
      position: relative;
      .roll-base-bar {
        position: absolute;
        width: 419px;
        height: 13px;
        border: 1px solid #000;
        background: $cl_neutral_5;
  
        &.bottom {
          width: 380px;
        }
      }
      .loop-line {
        position: absolute;
        top: 4.5px;
        left: 35px;
        height: 470px;
        display: flex;
        flex-direction: column;
      }
      .img-entry-loop-b-line {
        position: absolute;
        bottom: 0;
        left: 42px;
      }
    }
  }
}

.entry-i-wrapper {
  display: flex;
  column-gap: 40px;
  row-gap: 38px;
  flex-wrap: wrap;
  padding: 40px 60px;
  .inter-table-wrap {
    width: 570px;
    height: 336px;

  }
}

.center-o-wrapper {
  .bg-line-wrap {
    top: 108px;
    left: 0;
  }
  
  .gauge1 {
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 20px;
    .gauge-title {text-decoration: underline;}
  }
  .gauge2 {
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 220px;
  }

  .gd-enc {
    width: 120px;
    .list-data .data-title {width: 38px;}
  }

  .gd-quenching {
    top: 463px;
    left: 1297px;
    width: 149px;
    .list-data .data-title {width: 89px;}
  }

  .gd-reflow {
    top: 5px;
    left: 1388px;
    width: 130px;
    .list-data .data-title {
      width: 70px;
    }    
  }

  .gd-oiler {
    top: 5px;
    left: 1750px;
    width: 158px;
    .list-data .data-title {
      width: 98px;
    }   
  }
}


.center-i-wrapper {
  display: flex;
  gap: 40px;
  padding: 60px;
  .inter-table-wrap {
    width: 880px;
    height: 700px;
  }
}

.exit-o-wrapper {
  .bg-line-wrap {
    top: 160px;
    left: 0;
  }
  
  .gd-pinchroll {
    width: 191px;
    .list-data .data-title {width: 107px;}
  }

  .gd-cam {width: 147px;}

  .gd-tr {
    top: 523px;
    left: 1174px;  
    width: 450px;
    .list-data .data-title {
      width: 150px;
    } 
  }

  .gd-bridleroll {    
    width: 322px;
    .list-data .data-title {
      width: 112px;
    } 

    .list-data.list2 {
      li p {border-top: none;}
    }
  }

  .gd-chemical {
    width: 294px;
    top: 374px;
    left: 70px;
    .list-data .data-title {
      width: 234px;
    } 
  }

  .gd-snip {
    top: 374px;
    left: 700px;
    width: 149px;
    .list-data .data-title {
      width: 89px;
    }
  }

  .gd-apron {
    width: 148px;
    .list-data .data-title {
      width: 88px;
    }
  }

  .gd-epc {
    width: 148px;
    .list-data .data-title {
      width: 76px;
    }
  }

  .gd-belt {
    width: 237px;
    top: 523px;
    left: 1634px;
    .list-data li{
      flex: none;
      &:first-child {width: 108px;}
      &:nth-child(2) {width: 59px;}
      &:last-child {width: 70px;}
    }
  }
  
  .gd-simple {
    width: 528px;
    .list-data li {
      p:last-child {height: 40px;}
    }
  }

  .gauge1 {
    z-index: 2;
    position: absolute;    
  }

  .gauge2 {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 270px;
  }
}

.pre-treatment-wrapper {
  .gd-cleaning {
    width: 275px;
    .list-data .data-title {
      width: 135px;
    }
    .way-box {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $cl_neutral_4;
      .way {
        display: flex;
        gap: 4px;
        p {border: none;}
      }
    }
  }
}

.post-treatment-wrapper {
  .gauge-wrap {
    z-index: 2;
    position: absolute;
  }

  .tuning-box {
    margin: 0 2px;
    gap: 4px;
    .value {
      flex: 1;
      height: 100%;
      border-radius: 4px;
      border: 1px solid $cl_neutral_3;
      background: transparent;
      text-decoration: none !important;
    }
  }  

  .gauge-wrap {
    .gauge-box-wrap {
      gap: 6px;
      margin-top: 6px;
    }
    .box {
      width: 100%;
      padding: 6px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 6px; 
      font-size: 14px;
      font-weight: 700;
      .title-box {
        height: 28px;
      }
      .tuning-box {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 6px;
        .value {
          flex: 1;
          @include flex_center;
          border-radius: 4px;
          border: 1px solid $cl_neutral_3;
          color: $cl_data_1;
        }

      }
    }
  }
}

.center-helper-wrapper {
  padding: 20px 20px 10px;
  .bg-box {
    width: 1880px;
    height: 284px;
    border-radius: 10px;
    background: $cl_neutral_6;   
    margin-bottom: 20px; 
  }
  .table-box {
    display: flex;    
    .table-wrap {
      flex: 1;

      table {
        font-size: 12px;
        thead {
          tr th {
            font-weight: 700;
            height: 46px;
            line-height: 14px;
            background: $cl_neutral_3;
            border: 1px solid $cl_neutral_4;
            vertical-align: middle;
            text-align: center;
            color: $cl_neutral_6;
          }
        }
        tbody {
          tr {
            height: 20px;
            font-weight: 700;
            background: $cl_neutral_5;            
            td {
              vertical-align: middle;
              text-align: center;
              border: 1px solid $cl_neutral_4;
            }
          }
        }
      }
    }
  }
}

.rectifier-preset-wrapper {
  .list-grid {
    position: relative;    
  }
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .flex-row {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .title-box {height: 28px;}

  .gd-plating {
    width: 1360px;
    .list-data .data-title {
      width: 140px;
    }
  }
  .gd-chemical {
    width: 400px;
    .list-data .data-title {
      width: 200px;
    }
  }
  .setting-box {
    display: flex;
    gap: 10px;
    .gd-setting {
      width: 384px;
      display: flex;
      flex-direction: column;
      .title-wrap {
        height: 28px;
        display: flex;
        .title-box {
          border: 1px solid $cl_neutral_4;
          border-bottom: none;
          &:first-child {width: 140px;}
          &:last-child {flex: 1;}
        }
      }
      .list-data .data-title {
        width: 140px;
      }
    }
    .explan-text {
      font-size: 14px;
      font-weight: 700;
      line-height: 20.27px;
      color: $cl_neutral_1;
      padding-top: 16px;
    }
  }
  .setting-box2 {
    display: flex;
    flex-direction: column;
    width: 400px;
    .button-line {
      display: flex;
      .box {
        height: 56px;
        flex: 1;
        background: $cl_neutral_5;
        border-top: 1px solid $cl_neutral_4;
        border-bottom: 1px solid $cl_neutral_4;
        padding: 2px;
        button {
          @include flex_center;
          border-radius: 4px;
          width: 100%;
          height: 100%;
          background: $cl_neutral_6;
          font-size: 14px;
          font-weight: 700;
          color: $cl_neutral_1;
          box-shadow: 0px -4px 4px 0px #00000040 inset;
        }
      }
    }
  }

}

// 약품 농도 & 온도 관리
.chemical-dentemp-wrapper {
  padding: 60px;
  display: flex;
  gap: 40px;

  .flex-col {
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  table tr td, table tr th {
    font-weight: 700;
    background: $cl_neutral_5;
    &.on {background: $cl_neutral_6;color: $cl_data_1;}
    &:first-child {border-left: none;}
    &:last-child {border-right: none;}
  }
  .density-table {
    width: 1100px;
  }
  .temper-table {
    width: 100%;
  }
  .conc-table {

  }
}