@import url("reset.css");
@import url("common.css");

.pop-pump {
   width: 240px;
   height: 201px; 
   .list-grid {
    ul li {flex: 1;}
   }

   .popup-footer {
    button {
      width: 66px;
      flex: none;
    }
   }
}

.pop-fluxing {
  width: 340px;
  height: 256px; 
  .list-grid {
   ul li {flex: 1;}
  }

  .popup-footer {
    button {
      width: 66px;
      flex: none;
    }
   }
}

.pop-quenching {
  width: 189px;
  height: 228px; 
  .list-grid {
   .list-data .data-title {width: 89px;}
  }  
}

.pop-airdryer {
  width: 189px;
  height: 200px;

  .list-grid {
    .list-data .data-title {width: 89px;}
   }
}

.pop-snipshear {
  width: 574px;
  height: 228px; 
  .list-grid {
    .list-data .data-title {width: 134px;}
  }

  .popup-footer {
    button {
      width: 66px;
      flex: none;
    }
   }
}

.pop-gauge1 {
  width: 230px;
  height: 326px;
}
